@import "../../variables";



.BaggageBox:not(:last-child) {
   margin-bottom: 24px;
}
.BaggageRow {
   .BaggageCol {
      margin-right: 10px;
      padding-right: 10px;
   }
}
.BaggageCol:not(:last-child) {
   border-right: solid 1px $lightgray3;
}
.includeWraper {
   gap: 11px;
   
}
.passengersCard {
   background: #FFFFFF;
   border: 1px solid #E6EEEE;
   border-radius: 16px;
   box-shadow: none;
   padding: 24px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   .baggageLabel {}
   &.passengerProfileCard {
      justify-content: center;
      min-height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      &.passDisabled {
         pointer-events: none;
         opacity: 0.5;
      }
      &.isFilled {
         pointer-events: none;
         border-color: $basecolor1;
      }
   
   }
   &.ExtraServices {
      min-height: 90px;
      height: auto;
      margin-bottom: 0;
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
   }

   &.isFilled, &.Active {
      &.isFilled {
         // pointer-events: none;
      }
      // border: solid $basecolor1 1px !important;
   }
   &.Notactive {}
}
.Drawer .DrawerIn {
   width: 480px;
}
.Outbound {
   display: block;
}

.addtravellerBtn {
   padding: 0px;
   height: 79px;
   background: #FFFFFF;
   border: 1px dashed #E6EAEB;
   border-radius: 8px;
}
.HotelGallerySection {
   display: grid;
      .HotelGallery {
      display: flex;                 /* arrange thumbnails in a row */
      gap: 8px;                      /* space between images */
      overflow-x: auto;              /* enable horizontal scroll */
      width: 100%;
      -ms-overflow-style: none;      /* hide scrollbar on IE/Edge */
      scrollbar-width: none;         /* hide scrollbar on Firefox */
      
      &::-webkit-scrollbar {         /* hide scrollbar on Chrome/Safari */
         display: none;
      }
      
      .HotelThumb {
         flex: 0 0 auto;              /* prevent shrinking */
         width: 106px;
         height: 79px;
         border-radius: 12px;
         object-fit: cover;
         cursor: pointer;
      }
   }
}
.checkoutDrower, .checkoutDrower2 {
   &.checkoutDrower {
      padding: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      .checkoutDrowerSection {
         background-color: #fff;
         display: flex;
         flex-direction: column;
         height: 100vh;

         flex: 1 1 auto;
         overflow: hidden;
         &.MyTripDrowerSection {height: auto;
            .checkoutDrowerBody {
               padding-bottom: 0;
            }
         }
         .checkoutDrowerBody {
            flex: 1 1 auto;
            overflow-y: auto;
            padding-bottom: 18px; // optional, space before footer
            padding-top: 18px; // optional, space before footer
            &.PassengerFormDrowerBody {
               padding-top: 0;
            padding-bottom: 0;}
            &.checkoutPaymentBody {
               padding-top: 0;
            padding-bottom: 0;
            }
         }
      }
   }
   &.checkoutDrower2 {
      width: 480px;
   }
   .onewayReturn {
      font-size: 12px;
      font-weight: $bold;
      padding: 4px 8px;
      line-height: 1.6;
      gap: 8px;
      display: flex;
      @include border-radius(8px);
      background: $black;
      color: $white;
      
   }
   

   .airlineLogo {
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      @include scale(40px, 40px);
      @include border-radius(100px);
     background: $white;
     border: 1px solid $lightgray3;
     img {
       width: 80%;
       height: auto;
     }
    }

   .checkoutDrowerSection {
      

      .checkoutDrowerBody {
         
         .detailsSection {
            padding: 0 25px 144px;
            .fromAndToBodyBottom {
               padding-top: 18px;
               border-top: solid 1px #E6EEEE;
               margin-bottom: 24px;
            }
            >div:last-child {
               .fromAndToRowdivider {
                  display: none;
               }
            }
            .rowExtraInfo {
               margin-top: 30px;
               display: flex;
               justify-content: space-between;
               font-size: 0.85rem;
               color: gray;
               .divider {
                  display: block;
               }
            }
            .fromAndToContainer {
               border-bottom: none;
               &.isBaggage {
                  border-bottom: solid 0px $lightgray4;
                  margin-bottom: 24px;
               }
            }
            .fromAndToBody {padding-bottom: 0;
               
               &.isBaggage {
                  
                  .fromAndToBodyTop {
                  }
               }
               .fromAndToBodyTop {
                  // border-bottom: solid 1px $lightgray4;
                  // margin-bottom: 24px;
                  // padding-bottom: 0;
               }
            }
            .FromandToHeader {
               padding: 0 0 18px ;
            }
            .fromAndToRow {
               position: relative;
               padding: 0 0 18px ;
               .Col1, .Col2, .Col3 {
                  width: 30%;
                  &.Col3 {
                     display: flex;
                     justify-content: flex-end;
                  }
                  .Country {
                     font-size: $f14;
                  }
                  .Dates {font-size: $f14;}
               }
               .fromAndToRowIn {
                  gap: 16px;
                  &::before {
                     top: 8px;
                     content: "";
                     position: absolute;
                     width: 1px;
                     z-index: 1;
                     left: 4px;
                     bottom: 11px;
                     border-left: 1px dashed $lightgray2;
                  }
               }

               .flightDurationRow {
                  padding-left:  30px;
               }

               .FromRow {
                  position: relative;
                  padding-left: 30px;

                  &::before {
                     top: 6px;
                     content: "";
                     position: absolute;
                     background-color: $lightgray2;
                     border-width: 2px;
                     border-radius: 9999px;
                     width: 9px;
                     height: 9px;
                     z-index: 2;
                     left: 0;
                  }
               }

               .flightDurationRow {
                  padding-left:  30px;
               }
               .ToRow {
                  position: relative;
                  padding-left: 30px;

                  &::before {
                     bottom: 6px;
                     content: "";
                     position: absolute;
                     background-color: $lightgray2;
                     border-width: 2px;
                     border-radius: 9999px;
                     width: 9px;
                     height: 9px;
                     z-index: 2;
                     left: 0;
                  }
               }

            }
         }

      }

      
   }
   .checkoutDrowerFooter {
      
      z-index: 3;
      bottom: 0;
      right: 0;
      width: 100%;
      background-color: $white;
      
   }
.LayoverSection {
   margin-bottom: 24px;
   background-color: #69707B1A;
   color: $basecolor;
}
   // checkoutDrower section end

}
.checkoutDrower {
   .checkoutDrowerHeder {
      padding: 18px 18px 0;
      gap: 18px;
   }
}
@include for-mobile-large-screen {
   .includeWraper {
      
   }
   
   .checkoutDrower {
      .checkoutDrowerHeder {
         padding: 18px 18px 0;
         gap: 16px;
      }
      width: 100%;
      >div {
         width: 100%;
      }
      &.checkoutDrower .checkoutDrower {width: 100%;}

   }
   
   .selectFlightBtn {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
   .passengersCard {
      padding: 10px;
      &.passengerProfileCard {
         padding: 18px 15px;
      }
      &.ExtraServices {
         padding: 10px;
         margin-bottom: 0;
      }
   }
   .Drawer {
         >div {
            width: 100%;
         }
   
         .DrawerIn {
            width: 100%;
         }
      }
   .checkoutDrower {width: 100%;
      .checkoutDrower {width: 100%;}
      padding: 0;
      .checkoutDrowerSection {
         height: 100%;
         width: 100%;
         border: 0;
         top: inherit;
         @include border-radius(0);
         .checkoutDrowerBody {
            .detailsSection {
               .fromAndToRow {
                  .ToRow, .FromRow {
                     padding-left: 23px;
                  }
                  .Col1, .Col2, .Col3 {
                     width: 30%;
                     .Country, .Dates {font-size: $f12;}
                  }
               }
            }
         }
      }
   }
      .title {font-size: 16px;}
}

// payment
.PriceSection .PriceRow {
   border-bottom: solid 1px $lightgray3;
   padding: 13px 0px 13px;
   &:last-child {
      border: 0;
      margin-bottom: 0;
   }
}

/* In your CSS file or style block */
.capitalizeFirstLetter::first-letter {
   text-transform: uppercase;
 }