@import "../../variables";


.BaggageRow {
   .BaggageCol {
      margin-right: 15px;
      padding-right: 24px;
   }
}
.BaggageCol:not(:last-child) {
   border-right: solid 1px $lightgray3;
}
.passengersCard {
   background: #FFFFFF;
   border: 1px solid #E6EEEE;
   border-radius: 16px;
   box-shadow: none;
   padding: 0 24px;
   height: 85px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   .baggageLabel {}
   &.ExtraServices {
      min-height: 90px;
      height: auto;
      margin-bottom: 24px;
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
   }

   &.isFilled, &.Active {
      &.isFilled {
         pointer-events: none;
      }
      border: solid $basecolor1 1px !important;
   }
   &.Notactive {}
}
.Drawer .DrawerIn {
   width: 480px;
}
.Outbound {
   display: block;
}
.checkoutDrower, .checkoutDrower2 {
   &.checkoutDrower2 {
      width: 480px;
   }
   .onewayReturn {
      font-size: 12px;
      font-weight: $bold;
      padding: 4px 8px;
      line-height: 1.6;
      gap: 8px;
      display: flex;
      @include border-radius(8px);
      background: $black;
      color: $white;
      
   }
   .checkoutDrowerBackdrop {
      top: 0;
      left: 0;
      z-index: 10;
      background: rgba(0, 0, 0, 0.32);
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 0.5;
   }

   .airlineLogo {
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      @include scale(40px, 40px);
      @include border-radius(100px);
     background: $white;
     border: 1px solid $lightgray3;
     img {
       width: 80%;
       height: auto;
     }
    }

   .checkoutDrowerSection {
      box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
      z-index: 11;
      position: fixed;
      right: 0px;
      top: 0;
      height: 100%;
      width: 480px;
      bottom: 0;
      overflow: auto;
      transition: all 0.4sease -in-out;

      .checkoutDrowerBody {
         overflow-y: auto;
         height: 100%;

         .detailsSection {
            padding: 20px 24px 124px;
            >div:last-child {
               .fromAndToRowdivider {
                  display: none;
               }
            }
            .rowExtraInfo {
               margin-top: 30px;
               display: flex;
               justify-content: space-between;
               font-size: 0.85rem;
               color: gray;
            }
            
            .fromAndToRow {
               position: relative;
               padding: 24px 0;
               margin-bottom: 24px;
               .fromAndToRowIn {
                  &::before {
                     top: 8px;
                     content: "";
                     position: absolute;
                     width: 1px;
                     z-index: 1;
                     left: 4px;
                     bottom: 11px;
                     border-left: 1px dashed $lightgray2;
                  }
               }

               .flightDurationRow {
                  padding: 0 30px;
               }

               .FromRow {
                  position: relative;
                  padding: 0 30px;

                  &::before {
                     top: 6px;
                     content: "";
                     position: absolute;
                     background-color: $lightgray2;
                     border-width: 2px;
                     border-radius: 9999px;
                     width: 9px;
                     height: 9px;
                     z-index: 2;
                     left: 0;
                  }
               }

               .flightDurationRow {
                  padding: 0 30px;
               }
               .ToRow {
                  position: relative;
                  padding: 0 30px;

                  &::before {
                     bottom: 6px;
                     content: "";
                     position: absolute;
                     background-color: $lightgray2;
                     border-width: 2px;
                     border-radius: 9999px;
                     width: 9px;
                     height: 9px;
                     z-index: 2;
                     left: 0;
                  }
               }

            }
         }

      }

      .checkoutDrowerFooter {
         filter: drop-shadow(0px -1px 4px rgba(12, 12, 13, 0.05));
         z-index: 3;
         bottom: 0;
         right: 0;
         width: 100%;
         position: absolute;
         background-color: $white;
         .price {
            font-size: $bfsizeLabel;
         }
      }
   }
.LayoverSection {
   margin: 0 0 24px;
   background-color: #69707B1A;
   color: $basecolor;
}
   // checkoutDrower section end

}
@include for-mobile-large-screen {
   .Drawer {
         >div {
            width: 100%;
         }
   
         .DrawerIn {
            width: 100%;
         }
      }
   .checkoutDrower {
      padding: 0 15px;
      .checkoutDrowerSection {
         height: 100%;
         width: 100%;
         border: 0;
         top: inherit;
         @include border-radius(0);
      }
   }
      .title {font-size: 12px;}
}

// payment
.PriceSection .PriceRow:not(:last-child)  {
   border-bottom: solid 1px $lightgray3;
   padding: 10px 0px;
   margin: 10px 0;
}