@import "../../variables";


.passengersCard {
   background: #FFFFFF;
   border: 1px solid #E6EEEE;
   border-radius: 16px;
   box-shadow: none;
   padding: 24px;
   cursor: pointer;

   &.isFilled, &.Active {
      border: solid $basecolor1 1px !important;
   }
   &.Notactive {}
}
.Drawer .DrawerIn {
   width: 480px;
}
.checkoutDrower, .checkoutDrower2 {
   &.checkoutDrower2 {
      width: 480px;
   }
   .onewayReturn {
      font-weight: $bold;
      padding: 6px 10px;
      line-height: 1.6;
      gap: 8px;
      display: flex;
      @include border-radius(8px);
      background: $lightgray;
      
   }
   .checkoutDrowerBackdrop {
      top: 0;
      left: 0;
      z-index: 10;
      background: rgba(0, 0, 0, 0.32);
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 0.5;
   }

   .airlineLogo {
      @include scale(60px, 60px);
      @include border-radius(0);
      display: flex;
      align-items: center;

   }

   .checkoutDrowerSection {
      box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
      z-index: 11;
      position: fixed;
      right: 0px;
      top: 0;
      height: 100%;
      width: 480px;
      bottom: 0;
      overflow: auto;
      transition: all 0.4sease -in-out;

      .checkoutDrowerBody {
         overflow-y: auto;
         height: 100%;

         .detailsSection {
            padding: 20px 24px 124px;
            >div:last-child {
               .fromAndToRowdivider {
                  display: none;
               }
            }
            .rowExtraInfo {
               margin-top: 30px;
               display: flex;
               justify-content: space-between;
               font-size: 0.85rem;
               color: gray;
            }
            

            .fromAndToRow {
               position: relative;

               &::before {
                  top: 8px;
                  background-color: $basecolor1;
                  content: "";
                  position: absolute;
                  --tw-border-opacity: 1;
                  width: 1px;
                  z-index: 1;
                  left: 5px;
                  bottom: 11px;
               }

               .flightDurationRow {
                  padding: 0 30px;
               }

               .FromRow {
                  position: relative;
                  padding: 0 30px;

                  &::before {
                     top: 6px;
                     border: solid;
                     content: "";
                     position: absolute;
                     --tw-border-opacity: 1;
                     border-color: $basecolor1;
                     background-color: #fff;
                     border-width: 2px;
                     border-radius: 9999px;
                     width: 9px;
                     height: 9px;
                     z-index: 2;
                     left: 0;
                  }
               }

               .flightDurationRow {
                  padding: 0 30px;
               }

               .ToRow {
                  position: relative;
                  padding: 0 30px;

                  &::before {
                     bottom: 6px;
                     border: solid;
                     content: "";
                     position: absolute;
                     --tw-border-opacity: 1;
                     border-color: $basecolor1;
                     background-color: #fff;
                     border-width: 2px;
                     border-radius: 9999px;
                     width: 9px;
                     height: 9px;
                     z-index: 2;
                     left: 0;
                  }
               }
            }
         }

      }

      .checkoutDrowerFooter {
         filter: drop-shadow(0px -1px 4px rgba(12, 12, 13, 0.05));
         z-index: 3;
         bottom: 0;
         right: 0;
         width: 100%;
         position: absolute;
         background-color: $white;
         .price {
            font-size: $bfsizeLabel;
         }
      }
   }
.LayoverSection {
   margin: 0 -25px;
}
   // checkoutDrower section end

}
@include for-mobile-large-screen {
   .Drawer {
         >div {
            width: 100%;
         }
   
         .DrawerIn {
            width: 100%;
         }
      }
   .checkoutDrower .checkoutDrowerSection {
         
        height: 90%;
        width: 100%;
        border: 0;
        top: inherit;
        @include border-radius(40px 40px 0 0);
      }
      .title {font-size: 12px !important;}
      .selectFlightBtn {
         background: none !important;
         color: $basecolor1 !important;
         box-shadow: none !important;
         padding: 0 !important;
         height: 100% !important;
         i {
           font-size: 20px !important;
         }
       }
}