/*
===================================================================
Table Of Contents
===================================================================
01) Colors
02) fonts
03) Misc
04) Mixins
05) Extend
06) Transitions
07) Transitions
*/
  // Primary colors
  $lightgreen:#eafcf5;
  $basecolor1-light:#daffaf;
  $basecolor2:     #191c29; // 
  $darkgray2: #5C5C5C;
  $basecolor1:      #80ba27; // Body color dark
  $basecolor3 : #c6c6c6;

  $lightgray : #9d9d9c;
  $lightgray2 : #8A919B;

  $lightgray-cc : #C0C0C0;
  $lightgray-dd : #dddddd;

  $lightgray3 : #C0C0C0;
  
  $lightergray : #f2f2f2;
  

  $bold: bold;


  $black:      #000000; // Body color dark
  $white: #fff;
  %dp-table {display:table-cell; vertical-align:middle;}
  %dp-inline {vertical-align:middle;display:inline-block;}
  %dp-center { margin:0px auto; display:table;}
  %dp-flex-center {display:flex;justify-content: center;align-items: center;}
  
$section-w: 77%;
$section-padding: 70px 0;
$section-padding-sm:40px 0;
$section-padding-xs:30px 0;
$section-padding-mb: 122px 0;
$section-padding-lg: 100px 0;

$second-section-padding: 120px 0 20px;
$second-section-padding-sm: 120px 0 20px;
$bfsize : 16px;

@mixin btn {white-space: inherit; padding:10px 21px; font-size:16px; font-weight:400; @include border-radius(0px); border:none;
}
@mixin btn-border-xs {
  @include border-radius(4px);padding: 1px 6px;
  img {width: 13px;}
  &:hover {color:$basecolor1;border:solid 1px $basecolor1;
  }
}
@mixin btn-primary {
  background:$basecolor1;color:$black;
  &.active:hover, &.active, &.active:focus{background:$basecolor1;color:$white; 
    // box-shadow: 0 0 13px 0 rgba(42, 59, 143, 0.57);
    @include box-shadow(0, 2px, 12px, 0, rgba($basecolor1, 0.57));
  }
}
// font sizes
$bfsize-sm :14px;
$bfsize :16px;

@mixin btn-sm {padding:5px 14px; font-size: 14px;}
@mixin btn-md {padding:10px 15px; font-size:$bfsize;}
@mixin btn-lg {padding:12px 35px; font-size:18px;}
@mixin btn-lg-m {padding: 8px 20px;font-size: 16px;}

@mixin btn-secondary {background:$basecolor2; color:$basecolor1;
    &:not(.no-hover):hover{background-color:$white;}
}
@mixin btn-border {background:none; border:solid 1px $basecolor1; color:$basecolor1;
  &:not(.no-hover):hover{background:$basecolor1; color:$white; border-color:$basecolor1;}
}
%no-list{list-style:none; margin:0; padding:0;}
.hgroup{margin-bottom:35px;}
.imggroup {
	img {max-width: 100%;max-height: 100%;height: auto;}
}
$duration-1: all 0.1s ease-in-out;
  $duration-2: all 0.2s ease-in-out;
  $duration-3: all 0.3s ease-in-out;
  $duration-4: all 0.4s ease-in-out;
@mixin for-mobile-lg {
  @media only screen and (max-width:1400px) {
    @content;
  }
}
@mixin for-mobile-xs {
  @media only screen and (max-width:767px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media only screen and (min-width:767px) {
    @content;
  }
}
@mixin for-mobile-sm {
  @media only screen and (max-width:991px) {
    @content;
  }
}
@mixin for-mobile-md {
  @media only screen and (max-width:1200px) {
    @content;
  }
}


$airline_logo : 13%;
$item_detail_d_w: 60%;
$item_meta_d_w: 20%;

$airline_logo_m_w: 13%;
$item_detail_m_w: 60%;
$item_meta_m_w: 18%;
