/*===================================================================
	2) Global Styles - start
===================================================================*/

// @import 'variables';
@import "../sass/_variables.scss";
// tags [star]

// tags
.TapNone {
  @include TapNone;
}

.paymentInviteBox {
  .ReactTags__tags {
    width: 350px;
  }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ReactTags__tags {
  
  background-color: $white;
  position: relative;
  padding: 6px 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  min-height: 50px;
    border-radius: 8px;
    align-items: center; // to vertically center text
    
      border: 1px solid $bluedark2;
}

.ReactTags__tagInput {
  flex: 1;
}

.ReactTags__tagInput {min-width: 100%;
  input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    min-width: 100%;
  }
}

.ReactTags__selected {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
}

.ReactTags__tag {
  background: $lightgray;
  color: $darkgray;

  padding: 4px 10px;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
}

.ReactTags__remove {
  
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
    background: $basecolor;
    border: none;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    svg {
    margin-left: 3px;}
}

// tags [end]
.ui.text.container,
body {
  white-space: normal;
  font-family: $primary-font;
  font-style: normal;
  font-weight: $regular !important;
  font-size: $bfsize;
  line-height: 1.5;
  letter-spacing: 0.2;
  background: $white !important;
  color: $bf-color;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  word-break: break-word;
  position: relative;

  &.noScroll {
    height: 100%;
    overflow: hidden;
  }
}

// Headings
@mixin shadow-xs {
  .shadow-xs {
    @include box-shadow(0px, 0px, 7px, rgba($basecolor1, 0.2));
  }
}

.shadow-xs {
  @include box-shadow(0px, 0px, 7px, rgba($basecolor1, 0.2));
}

.h1-lg {
  font-size: $h1-lg;
}

h1.MuiTypography-h1,
h2.MuiTypography-h2,
h3.MuiTypography-h3,
h4.MuiTypography-h3,
h5.MuiTypography-h4,
h6.MuiTypography-h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font !important;
  font-weight: $bold ;
  margin-top: 0;
  margin-bottom: 16px;
  position: relative;
  line-height: 120%;
  color: $darkgray;
}

.h1,
h1 {
  font-size: $h1 ;
}

.h2,
h2 {
  font-size: $h2 ;
}

h3.MuiTypography-h3,
.h3,
h3 {
  font-size: $h3 ;
}

.h4,
h4 {
  font-size: $h4 ;
}

.h5,
h5 {
  font-size: $h5 ;
}

.h6,
h6 {
  font-size: $h6 ;
  line-height: 1.5em;
}
.formateContent  {
  .heading {
      margin-top: -10px;
    }
    p {
    margin-top: 0;
    margin-bottom: 10px;
    }
}
.hgroup {
  margin-bottom: 30px;
  position: relative;

  h2 {
    margin-bottom: 0;
  }

  >* {
    margin: 0 0 8px;
  }

  &[class*="seperator_"] {
    &:after {
      content: "";
      display: block;
      height: 1px;
      background: $bc1-lighter;
      margin-top: 10px;
      max-width: 40px;
    }
  }
}

.normalOption {
  padding: 6px 10px;
  line-height: 1;
  gap: 8px;
  display: flex;
  font-size: 11px;

  &.fastestOption {
    border: 1px solid #D3D3D3;
    border-radius: 8px;
  }
}

p {
  line-height: 1.7em;
  font-family: $secondary-font !important;

  
}

// debug class
.check-this {
  border: solid 1px red !important;
}

.check-all {

  &,
  * {
    border: solid 1px cyan;
  }
}

.progressbar {
  display: block;

  .ui.inverted.progress {
    margin: 0;
    background-color: #eaeaff;
    height: 12px;
    @include border-radius(100px);
    overflow: hidden;

    &.large {
      height: 20px;

      .bar {
        height: 20px;
      }
    }

    .bar {
      background-color: $basecolor2;
      height: 12px;

      line-height: 1.2;
      font-size: 12px;
    }
  }
}

// a) Variable base classes - start

.MuiCheckbox-colorPrimary {
  margin: 0;
  padding: 0;
}

button.MuiIconButton-root {
    padding: 0;
}

label {
  margin-bottom: 8px;
  display: flex;
  color: $basecolor-dark !important;
}

label,
.primary-font {

  &,
  * {
    font-family: $primary-font !important;
  }
}

.heading-font {
  font-family: $heading-font;
}

.heading-small {
  font-size: $bfsize-sm;
  color: $basecolor3;
}

.fn {
  float: none !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.color-black,
.color-black-all,
.color-black-all * {
  color: $black !important;
}

.color-white,
.color-white-all,
.color-white-all * {
  color: $white !important;
}

.gray {
  color: $gray;
}
.opacity-50 {opacity: 50%;}
.black-50 {
  color: $black-50;
}
.black-bg {
  background-color: $black #000 !important;
}

.gray-bg {
  background-color: $gray;
}

.white-bg,
.color-white-bg,
.color-white-bg-all,
.color-white-bg-all * {
  background-color: $white !important;
}

.color-lime,
.color-lime-all,
.color-lime-all * {
  color: $lime !important;
}

.color-red,
.color-red-all,
.color-red-all * {
  color: $red !important;
}

.border-dashed {
  border: 1px dashed rgba(197, 218, 222, 0.4);
}

.br-15 {
  border-radius: 12px !important;
}

.br-20 {
  border-radius: 12px !important;
}

.br-12 {
  border-radius: 12px !important;
}

.br-7 {
  border-radius: 7px !important;
}

.offerlabel {
  background: #e7003f;
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 15px;
  text-align: center;
  display: table;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}

.br-4 {
  border-radius: 4px !important;
}

.borderlight {
  border: 0.904255px solid #dddddd;
}

.color-bright-red,
.color-bright-red-all,
.color-bright-red-all * {
  color: $bright-red !important;
}

.color-blue,
.color-blue-all,
.color-blue-all * {
  color: $blue !important;
}

.color-dark-blue,
.color-dark-blue-all,
.color-dark-blue-all * {
  color: $dark-blue !important;
}

.color-cyan,
.color-cyan-all,
.color-cyan-all * {
  color: $cyan !important;
}

.color-dark-cyan,
.color-dark-cyan-all,
.color-dark-cyan-all * {
  color: $dark-cyan !important;
}

.color-yellow,
.color-yellow-all,
.color-yellow-all * {
  color: $yellow !important;
}

.color-orange,
.color-orange-all,
.color-orange-all * {
  color: $orange !important;
}

.color-green,
.color-green-all,
.color-green-all * {
  color: $green !important;
}

.dark-green {
  color: $dark-green;
}

.color-dark-green,
.color-dark-green-all,
.color-dark-green-all * {
  color: $dark-green !important;
}

.color-success,
.color-success-all,
.color-success-all * {
  color: $success !important;
}

.bf-color {
  color: $bf-color !important;
}

.lightgray {
  color: $lightgray !important;
}

.lightgray-bg {
  background: $lightgray !important;
}

.bluedark2 {
  color: $bluedark2 !important;
}

.bluedark2-bg {
  background-color: $bluedark2 !important;
}

.bluelight {
  color: $bluelight !important;
}

.bluelighter {
  color: $bluelighter !important;
}

.bluelightest {
  color: $bluelightest !important;
}

.bluelight-bg {
  background-color: $bluelight !important;
}

.bluelighter-bg {
  background-color: $bluelighter !important;
}

.bluelightest-bg {
  background-color: $bluelightest !important;
}

.bluedark {
  color: $bluedark !important;
}

.bluedarker {
  color: $bluedarker !important;
}

.bluedarkest {
  color: $bluedarkest !important;
}

.bluedark-bg {
  background-color: $bluelight !important;
}

.bluedarker-bg {
  background-color: $bluelighter !important;
}

.bluedarkest-bg {
  background-color: $bluelightest !important;
}

.darkgray {
  color: $darkgray !important;
}

.yellow {
  color: $yellow !important;
}

.black {
  color: #000;
}

.lightgray2 {
  color: $lightgray2;
}

.bg-dark-box {
  background: rgba(11, 23, 41, 0.4) !important;
}

.basecolor1-dark {
  background-color: $basecolor1-dark !important;
}

.basecolor-dark {
  color: $basecolor-dark !important;
}

.basecolor1-sky-bg {
  background-color: $basecolor1-sky !important;
}

.basecolor1-blue {
  color: $basecolor1-blue !important;
}

.basecolor1 {
  color: $basecolor1 !important;
}
.basecolor1-50 {
  color: $basecolor1-50 !important;
}

.basecolor1-light2-bg {
  background-color: $basecolor1-light2 !important;
}
.basecolor1-light-bg {
  background-color: $basecolor1-light !important;
}

.basecolor {
  color: $basecolor !important;
}

.white {
  color: #fff !important;
}

.basecolor1-bg {
  background-color: $basecolor1 !important;
}


.box-shadow-md {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.br-8 {
  @include border-radius(8px);
}

.br-100 {
  @include border-radius(100px);
}

.duration-0 {
  @include transition($duration-0);
}

.duration-1 {
  @include transition($duration-1);
}

.duration-2 {
  @include transition($duration-2);
}

.duration-3 {
  @include transition($duration-3);
}

.duration-4 {
  @include transition($duration-4);
}


.trans-all {

  &,
  * {
    @include transition($duration-1);
  }
}

/* Chatbox, default start of chat */
// search 
.isBaggage,
.Outbound {
  border-bottom: solid 1px $lightgray2;
}

.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 0;
}

.main-body {
  
}

.MainDrower {
  .MuiDrawer-paper {
    overflow-y: inherit;
  }
}

.formControl .MuiDrawer-root {
  transition: transform 0.5s ease-in-out !important;
}

.select-dropdown .MuiOutlinedInput-root {
  border: none;
  z-index: 1;
  background-color: $white;
  
  height: 47px;
  padding: 6px 16px;
  @include border-radius(8px);
}

.SearchForm .MuiInputBase-formControl {
  padding: 0 !important;
}

.SearchForm .MuiInputAdornment-root {
  z-index: 1;

  .MuiButtonBase-root {
    width: 40px;
    height: 40px;
    background-color: #82B4E8;
    @include border-radius(100px);
    color: $white;

    &:hover {
      background-color: $basecolor1;
    }

    i {
      line-height: 2;
    }
  }
}

.image {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.checkoutDrower .select-dropdown .MuiOutlinedInput-root {
  border: none;
}

.css-aou5iv-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: inherit;
  border-width: 1px;

}
.formControl:hover fieldset {
    border-color: inherit !important;
}
.checkoutDrower .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: $lightgray2;
}

.react-tel-input .form-control // .formControl .MuiInputBase-root 

  {
  height: 50px !important;
}


.SearchBoxSection fieldset {
  @include border-radius(100px);
  /* M3/Elevation Light/2 */
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  background-color: $white;
  height: 60px;
}

.SearchForm fieldset {
  border: none !important;
}

// a) varaiable classes - /end
.notify-msg {
  color: $darkgray;
  position: relative;
  padding: 0 0 0 24px;
  font-size: $bfsize-mb;

  &:before {
    content: "\f08a";
    display: block;
    font-family: $iconfont;
    @include position(absolute, 0 null null 0);
    color: $basecolor2;
  }
}

.no-icon {
  @include padding(null 0);

  &:before {
    content: "";
    display: none;
  }

  .fa {
    display: none;
  }
}

.btn-push {
  @include transform(scale(0.99) translate(0, 1px));
  @include transition(all 0s ease-in-out);
}

.alert {
  color: $white !important;

  a {
    color: $white;
    text-decoration: underline;
  }
}

.alert-success {
  background: $success;
  border-color: $success;
  @include box-shadow(0, 1px, 0, darken($success, 10%));
}

.alert-info {
  background: $info;
  border-color: $info;
  @include box-shadow(0, 1px, 0, darken($info, 10%));
}

.alert-warning {
  background: $warning;
  border-color: $warning;
  @include box-shadow(0, 1px, 0, darken($warning, 10%));
}

.alert-danger {
  background: $danger;
  border-color: $danger;
  @include box-shadow(0, 1px, 0, darken($danger, 10%));
}

// Loading on submit button click
.button-loading {
  @include border-radius(100px);
  overflow: hidden;
}

.btn-progress {
  position: relative;
  overflow: hidden;

  .btn-loading-box {
    z-index: 100;
    background: rgba($white, 0.7);
    @include position(absolute, 0 null null 0);
    @include size(100%);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include border-radius(200px);

    &:before {
      content: "\f137";
      display: block;
      font-family: $iconfont;
      font-size: $bfsize + 3;
      background: $white;
      line-height: 30px;
      text-align: center;
      color: $basecolor1;
      @include size(30px);
      @include animation(fileprogress 2s ease infinite);
      @include border-radius(100%);
    }
  }
}

// c)Flexbox

.d-flex {
  .flexRow {
    flex-direction: column;
  }

  @include display(flex !important);

  &.align-items-start {
    @include align-items(flex-start);
  }

  &.align-items-center {
    @include align-items(center);
  }

  &.align-items-end {
    @include align-items(flex-end);
  }

  &.flex-wrap {
    @include flex-wrap(wrap);
  }

  &.justify-content-center {
    @include justify-content(center);
  }

  &.justify-content-start {
    @include justify-content(flex-start);
  }

  &.justify-content-end {
    @include justify-content(flex-end);
  }

  &.justify-content-between {
    @include justify-content(space-between);
  }

  .flex-inner {
    width: 100%;
  }

  &.flow-column {
    @include flex-flow(column);
  }
}

// d) Text Alignment
.align-left {

  &,
  * {
    text-align: left !important;
  }
}

.align-center,
.center {

  &,
  * {
    text-align: center !important;
  }
}

.align-right {

  &,
  * {
    text-align: right !important;
  }
}

.text-decuration-none {
  text-decoration: none;
}

// e) List Styles
li:not(:last-child) {
  margin-bottom: 16px;
}

.no-list {
  @extend %no-list;

  &,
  li {
    margin: 0;
    padding: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  a {
    text-decoration: none;
  }
}

.list-style1 {
  padding: 0;

  li {
    position: relative;
    @extend %no-list;
    padding: 12px 10px 12px 35px;
    border-bottom: solid 1px $lightgray3;
    margin-bottom: 0;

    &:before {
      content: "\f123";
      font-family: $iconfont;
      color: $basecolor3;
      font-size: $bfsize + 6;
      display: block;
      @include position(absolute, 15px null null 0);
    }

    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }
}

.list-style2 {
  padding: 0;
  @extend %no-list;

  li {
    position: relative;
    margin: 0 10px 15px 0;
    padding: 0 0 0 35px;

    &:before {
      content: "\f123";
      font-family: $iconfont;
      color: $basecolor2;
      font-size: $bfsize + 6;
      display: block;
      @include position(absolute, 0 null null 0);
    }
  }
}

.listWithIcons {
  li {
    @include display(flex);
    @include align-items(center);

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    [class*="icofont-"] {
      background: $white;
      color: $basecolor1;
      font-size: $bfsize + 12;
      display: block;
      line-height: 45px;
      text-align: center;
      @include box-shadow(0, 0, 4px, rgba($bf-color, 0.1));
      @include border-radius($base-border-radius-sm);
      @include size(45px);
    }

    span {
      color: $basecolor1;
      display: block;
      padding-left: 12px;
    }
  }
}

.list-check {
  padding: 0;
  @extend %no-list;

  li {
    position: relative;
    margin: 0 10px 15px 0;
    padding: 0 0 0 35px;

    &:before {
      content: "\eed6";
      font-family: $iconfont;
      color: $basecolor1;
      font-size: $bfsize + 14;
      display: block;
      @include position(absolute, 0 null null 0);
    }
  }
}

.section-shadow {
  @extend %section-shadow;
}

// i) Container
blockquote,
pre {
  background-color: #f7f7f7;
}

// j) Miscellaneous
.clear-all {
  clear: both;
}

.f10 {
  font-size: 10px !important;
  line-height: 1.4;
}

.f11 {
  font-size: 11px !important;
}

.f8 {
  font-size: 8px !important;
  line-height: 1.2;
}

.f12 {
  font-size: 12px !important;
  line-height: 1.2;
}

.f13 {
  font-size: 13px !important;
  line-height: 1.2;
}

.f14 {
  font-size: 14px !important;
  line-height: 1.3;
}

.f15 {
  font-size: 15px !important;
}

.f16 {
  font-size: 16px !important;
}

.f17 {
  font-size: 17px !important;
}

.f18 {
  font-size: 18px !important;
}

.f20 {
  font-size: 20px !important;
}

.f24 {
  font-size: 24px !important;
}

.f30 {
  font-size: 30px !important;
}

.icon-scale-16 {
  @include transform(scale(1.6));
  margin-right: 5px;
  display: inline-block;
}

.icon-scale-12 {
  @include transform(scale(1.2));
  margin-right: 5px;
  display: inline-block;
}

.icon-scale-14 {
  @include transform(scale(1.4));
  margin-right: 5px;
  display: inline-block;
}

.video_frame {
  position: relative;
  overflow: hidden;
  border: solid 3px $white;
  @include border-radius($base-border-radius);
  @include box-shadow(0, 3px, 7px, rgba($bc1-light, 0.6));

  video {
    display: block;
  }
}

body {
  .rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge {
      background-color: $basecolor1;
    }
    .rdrDayToday .rdrDayNumber span:after {
      display: none;
    }
    .rdrDateDisplayItemActive, 
    .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
      border-color:$basecolor1 !important; /* your hover border color */    
    }

  a,
  a:focus,
  a:hover,
  button {
    outline: 0;
  }

  .clear,
  .main-container {
    clear: both;
  }

  blockquote,
  em {
    font-style: italic;
  }

  .italic {
    font-style: italic;
  }

  .csstransitions .visible {
    visibility: visible;
  }

  // Visbility
  [class*="visibility-"] {
    @include transition($duration-2);
  }

  .visibility-hidden {
    visibility: hidden;
    @include opacity(0);
  }

  .visibility-visible {
    visibility: visible;
    @include opacity(1);
  }

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }

  img,
  video {
    max-width: 100%;
  }

  iframe,
  video {
    display: block;
    width: 100%;
    border: 0;
  }
  
  .MuiDialogContent-root {
    padding: 16px;
  }
  button.MuiIconButton-root {
    padding: 13px;
  }

  
.MuiDialog-container{ padding: 0 18px;}
  .formGroup {
    margin-bottom: 22px;
    .formControl.select {
      .fa {
        right: 20px;
        position: absolute;
        font-size: 14px;
        pointer-events: none;
      }
    }
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: inherit !important;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: inherit !important;
    }
    
        .formControl .MuiInputBase-input::placeholder {
          color: #8F8F8F;
          /* default placeholder color */
          opacity: 1;
          /* ensure it's fully visible */
        }
    
        .formControl.Mui-error .MuiInputBase-input::placeholder {
          color: red;
          /* placeholder turns red if error */
        }
    label.MuiInputLabel-formControl {
        color: #8F8F8F !important;
        top: 0px;
      }

    .formLabel {}
  }

  .formGroup {
    margin-bottom: 12px;
  }

  .formControl .MuiInputBase-root {
    min-height: 50px;
    border-radius: 8px;
    align-items: center; // to vertically center text
    border: solid 0px $bluedark2;

    fieldset {
      border-color: $bluedark2;
    }
  }

  .formControl.description .MuiInputBase-root {
    min-height: 80px;
    padding-top: 12px;
  }


  /* Optional: Adjust input padding if needed */
  .formControl input {
    padding: 12px 14px;
  }

  .formControl {
    > div {background-color: $white;}
    margin-bottom: 5px;
    
    width: 100%;
    margin-top: 0;
    
    
    &.Calendar {
      &::after {
        content: "\f133";
        pointer-events: none;

        color: $gray;
        font-family: "Font Awesome 6 Free";
        position: absolute;
        right: 13px;
        top: 10px;
        font-size: 20px;
      }

      button.MuiIconButton-root {
        padding: 20px;

        svg {
          display: none;
        }
      }
    }
  }

  // k) Headings / Paragraphs
  address,
  blockquote,
  dd,
  dl,
  fieldset,
  ol,
  p,
  pre,
  table,
  ul {
    margin-bottom: 18px;
  }

  ul {
    padding-left: 22px;
  }

  p,
  li {

    &.small,
    .small,
    small {
      line-height: 1.5em;
      margin-bottom: 12px;
    }
  }

  pre {
    margin: 0;
    padding: 9.5px;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    text-align: left;
  }

  input,
  select,
  textarea {}

  strong {
    font-weight: $bold;
  }

  a,
  .link {
    color: $basecolor;

    &,
    * {
      @include transition($duration-2);
    }
  }

  a:focus,
  a:hover,
  .link:hover {
    color: $basecolor1;
  }
}

.deactive {
  opacity: 0.6;
}

.link-wrap {
  position: relative;

  .link {
    z-index: 9;
    @include position(absolute, 0 0 null null);
    @include size(100%);
  }

  a:not(.link),
  button {
    z-index: 15;
    position: relative;
  }
}

// Thumb
.thumb {
  background: #849895;
  @include border-radius(100%);
  overflow: hidden;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  &,
  img {
    @include size(100px);
    @include flexWidth(100px);
  }

  &.small {

    &,
    img {
      @include size(55px);
      @include flexWidth(55px);
    }
  }

  &.large {

    &,
    img {
      @include size(110px);
      @include flexWidth(110px);
    }
  }

  &.big {

    &,
    img {
      @include size(145px);
      @include flexWidth(145px);
    }
  }

  &.huge {

    &,
    img {
      @include size(160px);
      @include flexWidth(160px);
    }
  }

  &.acronym {
    color: $white;
    font-size: $bfsize + 2;
  }
}

// Buttons
.btn-group,
.button-group {
  margin: 30px 0;
  display: block;
  @include clearfix;
}

.btn-shadow {
  @include box-shadow(0, 2px, 8px, rgba($black, 0.2));
}

.LableActive {
  font-weight: $semibold;
  font-size: 14px;
}

.btn-link {
  text-transform: none;
  font-family: $primary-font;
  font-size: 12px;
  text-align: center;
  outline: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  cursor: pointer;

  >div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.CounterBtn {
  border: solid 1px $lightgray2;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: $lightgray2;
  cursor: pointer;

  &.active {
    border: solid 1px $basecolor1;
    color: $basecolor1;
  }

  i {
    line-height: 0;
    margin-top: 0;
  }
}

.MuiDialog-paper {
  @include border-radius(16px);
}

.CircleButton {
  width: 40px;
  height: 40px;
  z-index: 2;
  background-color: $white;
  @include border-radius(100px);
  border: solid 1px $lightgray3;
  color: $basecolor1;

  i {
    font-size: 20px;
  }

  .btn-primary {
    background-color: $basecolor1;
    color: $white;
  }

  .btn-white {
    background-color: $white;
    color: $basecolor1;
  }

  &:hover {
    background-color: $white;
  }
}

.btn-link {
  &:hover {
    color: #009EA0 !important;
  }
}


.newChatBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: 1px solid rgba(197, 218, 222, 0.3);



  border-radius: 100px;
  color: $lightgray1;
  &.lg {
    width: 40px;
    height: 40px;

  }
  &.dark {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(197, 218, 222, 0.3);
    background-color: $basecolor1-dark2;
  }
}
.chip {
  white-space: nowrap;
  display: flex;
  align-items: center;
  &.sm {
    padding: 2px 8px;
    height: 18px;
    border-radius: 100px;
    font-size: 12px;
    line-height: 1;
  }
  
  &.basecolor1-light {
    color: $white;
    background: #80E1E5;
  }
  &.chipPrimary {
    color: $white;
    background: $basecolor1;
  }
  &.chipYellow {
    color: $white;
    background: #FFC107;
  }
  &.chipGray {
    color: $white;
    background: #ADB5BD;
  }
}
.btn {
  text-transform: none;
  font-family: $primary-font;
  font-size: $bfsize - 2;
  @include border-radius($base-border-radius);
  text-align: center;
  outline: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  @include padding(null 30px);
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;

  >div {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &.focus,
  &:focus,
  &:not(:disabled):not(.disabled).active:focus,
  &:not(:disabled):not(.disabled):active:focus {
    @include box-shadow-cs(0 0 0 0.2rem rgba($basecolor1, 0.3));
  }

  &:not(.btn-border) {
    border: none !important;
  }

  &.active {
    .fa-chevron-down:before {
      content: "\f077";
    }
  }

  &:hover {
    @include transform(translate(0, 0px));
  }

  .fa {
    font-size: $bfsize-xs;
  }

  [class*="sprite-25-icon-"] {
    margin-right: 8px;
  }

  &.btn-shadow {
    @include box-shadow(0, 2px, 14px, darken($bc1-light, 10%));
  }

  &:focus,
  &.active {
    outline: none !important;
  }

  &.btn-green {
    text-transform: none;
    letter-spacing: 1.2px;
    color: $darkgray;
    background-color: $green-light;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 100px;

    &.active:hover,
    &.active,
    &.active:focus {
      background: $basecolor2;
      border-color: $basecolor2;
      color: $white;
    }
  }

  &.chat-btn {
    padding: 10px 50px 10px;
    font-size: 12px;
    font-weight: $bold;
    height: 40px;
  }

  &.btn-sm {
    line-height: 1.3;
    font-size: $bfsize-xs;
    padding: 0px 20px;
    font-weight: $bold;
    height: 40px;
  }

  &.btn-lg {
    font-size: $bfsize + 6;
    @extend %btn-lg-height;
  }

  &.btn-md {
    font-size: $bfsize;
    padding: 10px 28px;
    line-height: 1.4;
    font-weight: $bold;
    height: 50px;
  }

  &.btn-black {
    @include border-radius(4px);
    padding: 5px 10px 5px;
    background: $darkgray;
    color: $white;
    font-weight: $bold;
    font-size: 12px;
  }

  &.btn-gray {
    @include border-radius(4px);
    padding: 4px 10px;
    background: $lightgray3;
    color: $basecolor;
    font-weight: $bold;
    font-size: 12px;
  }

  &.btn-disabled,
  

  &.btn-white {
    border-radius: 8px;
    background: $white;
    letter-spacing: 0 !important;
    color: $basecolor1;
    font-weight: 500;
    border: solid 1px #E2ECEF !important;
     &.btn-round {
      border-radius: 100px;
    }
  }
  &.btn-primary {
    &.disabled, &:disabled {
      background: $basecolor1;
      opacity: 0.5;
      color: $white !important;
      pointer-events: none; // disables clicks
      &.btn-round {
        
        border-radius: 100px;
        box-shadow: none;
      }

      &.no-rounded {
        border-radius: 8px !important;
      }
    }
    &.btn-lg-x {
      padding: 7px 36px 8px;
      white-space: nowrap;
      height: 40px;
    }
    &.btn-border {
        background: transparent;
        color: $basecolor1;
        border: solid 1px $basecolor1;

        &:not(.no-hover):hover {
          background: $basecolor1;
          color: $white;
        }
      }
    &.btn-round {
      border-radius: 100px;
      box-shadow: none;
    }

    &.no-rounded {
      border-radius: 8px !important;
    }

    border-radius: 8px;
    background: $basecolor1;
    letter-spacing: 0 !important;
    color: $white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active:hover,
    &.active,
    &.active:focus {
      background: $basecolor2;
      border-color: $basecolor2;
      color: $white;
    }
  }

  &.btn-border {
    &.black-border {
      width: 300px;
      border: 1px solid $black;
    }

    background: #FFFFFF;
    border: 1px solid #E0EBEB;
    color: $basecolor1-dark2;
    font-weight: $bold;
  padding: 10px 12px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.btn-round {
      border-radius: 100px;
    }

    &.no-rounded {
      border-radius: 8px !important;
    }
  }

  &.btn-basecolor1 {

    &:disabled,
    &.disabled {
      background: $basecolor1;
      color: $white;
      @extend %btn-default-height;
    }

    .icofont-caret-right {
      margin-left: 8px;
    }

    &[class*="arrow-"]:before {
      color: $basecolor1;
    }

    &:not(.no-hover):not([class*="arrow-"]):hover {
      background: $basecolor1;
      color: $white;
    }

    &.active:hover,
    &.active,
    &.active:focus {
      background: $basecolor2;
      border-color: $basecolor2;
      color: $white;
      color: $white;
    }

    &.btn-border {
      background: transparent;
      color: $basecolor1;
      border: solid 1px $basecolor1;

      &:not(.no-hover):hover {
        background: $basecolor1;
        color: $white;
      }
    }
  }

  &.btn-secondary {
    border-radius: 8px !important;

    &.no-rounder {
      border-radius: 8px !important;
    }

    &,
    &:disabled, &.disabled {
      background-color: #A6A6A6;
      color: $white;
      @extend %btn-default-height;
    }

    &:hover {
      background: $basecolor1;
    }

    &.btn-border {
      background: transparent;
      color: $basecolor2;
      border: solid 1px $basecolor2;
    }
  }

}

.bfsize {
  font-size: $bfsize !important;
}

.bfsize-sm {
  font-size: $bfsize-sm !important;
}

.bfsize-xs {
  font-size: $bfsize-xs !important;
}

.bfsize-mb {
  font-size: $bfsize-mb !important;
}

.hd-style1 {
  &:after {
    content: "";
    display: block;
    background: $basecolor1;
    margin-top: 13px;
    @include size(34px, 2px);
  }

  &.basecolor2 {
    &:after {
      background: $basecolor2;
    }
  }
}

// .thin{font-weight:$thin !important;}
.thin {
  font-weight: $thin !important;
}

.light {
  font-weight: $light !important;
}

.red {
  color: #D32F2F;
}

.regular {
  font-weight: $regular !important;
}

.semibold {
  font-weight: $semibold !important;
}

.bold {
  font-weight: $bold !important;
}

.exbold {
  font-weight: $exbold !important;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.text-decoration-none {
  text-decoration: none !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;

  &,
  input {
    text-transform: capitalize;
  }
}
 .MuiDrawer-paper hr {
  border-top: solid 1px $lightgray4 !important;
 }
hr {
  margin: 20px 0;
  border-color: $lightgray4 !important;
}
.Divider {
  border-width: 0;
}
.divider:not(.text) {
  border-top: solid 1px rgba($black, 0.1);
  margin: 30px 0;

  &.white {
    border-top-color: rgba($white, 0.8);
  }

  &.md {
    margin: 22px 0;
  }

  &.sm {
    margin: 15px 0;
  }

  &.xs {
    margin: 11px 0;
  }

  &.lg {
    margin: 60px 0;
  }

  &.center {
    max-width: 60px;
    @include margin(null auto);
  }
}

.Card,
.passengersCard {
  background: #FFFFFF;
  border: 1px solid #E6EEEE;
  border-radius: 16px;
  box-shadow: none;
  padding: 24px;

  &.Active {
    border: solid $basecolor1 1px !important;
  }

  &.Notactive {}
}

.header-nav li a,
input,
select,
textarea {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.imggroup img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.no-bg {
  background-image: none !important;
  background-color: transparent !important;
}

.no-bg-img {
  background-image: none !important;
}

.bg-cover {
  background-size: cover !important;
}

.no-radius {
  @include border-radius(0 !important);
}

.circle-radius {
  @include border-radius(100%);
  overflow: hidden;

  img {
    @include size(100%, auto);
  }
}

.bg-center-left {
  background-position: center left !important;
}

.bg-center {
  background-position: center !important;
}

.bg-center-right {
  background-position: center right !important;
}

.bg-norepeat {
  background-repeat: no-repeat !important;
}

.bg-top-left {
  background-position: top left !important;
}

.bg-top-center {
  background-position: top center !important;
}

.bg-top-right {
  background-position: top right !important;
}

.bg-bottom-left {
  background-position: bottom left !important;
}

.bg-bottom-center {
  background-position: bottom center !important;
}

.bg-bottom-right {
  background-position: bottom right !important;
}

.bg-repeat {
  background-repeat: repeat !important;
}

.bg-repeatx {
  background-repeat: repeat-x !important;
}

.bg-repeaty {
  background-repeat: repeat-y !important;
}

.d-none,
.hide,
.dp-none {
  display: none;
}

.show,
.dp-block {
  display: block;
}

.dp-inline-block {
  display: inline-block;
}

.dp-center {
  margin: 0px auto;
  display: table;
}

.dp-table {
  display: table;
}

.dp-table-cell {
  display: table-cell;
}

.no-border {
  border: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.no-shadow {
  @include box-shadow-cs(0 0 0 transparent !important);
}

.marginauto {
  margin-left: auto;
  margin-right: auto;
}

.nomargin {
  margin: 0 !important;
}

.w-100 {
  width: 100% !important;
  max-width: 100% !important;
}

.px-5 {
  padding: 0 5px;
}

.p-0 {
  padding: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.nopadding {
  padding: 0 !important;
}

.pad-5 {
  padding: 5px !important;
}

.pad-10 {
  padding: 10px !important;
}

.pad-15 {
  padding: 15px !important;
}

.pad-20 {
  padding: 20px !important;
}

.pad-25 {
  padding: 25px !important;
}

.pad-30 {
  padding: 30px;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.section-h {
  padding: 0 170px;
}

.section-padding {
  padding: $section-padding !important;
}

.section-padding-sm {
  padding: $section-padding-sm !important;
}

.section-padding-xs {
  padding: $section-padding-xs !important;
}

.section-padding-mb {
  padding: $section-padding-mb !important;
}

.section-padding-lg {
  padding: $section-padding-lg !important;
}

.h-100 {
  height: 100%;
}

.section-padding-xl {
  padding: $section-padding-xl !important;
}

.section-padding-xxl {
  padding: $section-padding-xxl !important;
}

.section-padding-xxxl {
  padding: $section-padding-xxxl !important;
}

.owl-theme .owl-dots {
  .owl-dot.active span {
    width: 35px;
    background-color: $basecolor2;
  }

  .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: rgba(231, 0, 63, 0.36);
  }
}

.section-w {
  width: 65%;
  margin: 0px auto;
  display: table;
}

.owl-carousel {
  .owl-stage {}

  &.visible_outside {
    .owl-stage-outer {
      .owl-item {
        @include transition($duration-1);

        &:not(.active) {
          opacity: 0.3;
        }
      }
    }
  }

  .owl-nav [class*="owl-"]:hover {
    background: none;
  }

  .owl-nav {
    @include position(absolute, -68px 0 null null);
    display: table;
    margin: 10px auto 0;

    button:hover {
      background: none !important;
    }

    button.owl-prev:before {
      content: "\ea9d";
    }

    button.owl-next:before {
      content: "\eaa0";
    }

    button.owl-prev,
    button.owl-next,
    button.owl-dot {
      margin: 0 6px;

      &:before {
        font-family: $iconfont;
        display: block;
        background: transparent;
        color: $basecolor1;
        border: solid 1px $basecolor1;
        font-size: 18px;
        line-height: 38px;
        @include size(40px);
        @include border-radius(100%);
      }

      span {
        font-size: 0%;
        display: none;
      }
    }
  }
}

// chat loading
.Loading {
  .dot {
    width: 10px;
    height: 10px;
    background-color: #E1E1E1;
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;

  }

  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes bounce {

    0%,
    80%,
    100% {
      transform: scale(0);
    }

    40% {
      transform: scale(1);
    }
  }
}

// chat loading

.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer,
.prop-checkbox {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.noselect {
  pointer-events: none;
}

.has-sidebg {
  position: relative;
}

[class*="side-bg-"] {
  position: absolute;
  top: 0;
  height: 100%;
}

.side-bg-left {
  left: 0;
}

.side-bg-right {
  right: 0;
}


.customRadio.MuiRadio-root {
  color: $gray;
  /* Default color (optional) */
}

.customRadio.Mui-checked {
  color: $lightgray1;
  /* Checked color */
}

.MuiRadio-root {
  .MuiSvgIcon-root:first-child {
    color: $lightgray1;
  }
}

.Mui-checked {
  .MuiSvgIcon-root:first-child {
    color: $lightgray1;
  }

  .MuiSvgIcon-root:last-child {
    color: $basecolor1;
  }
}

.formGroup .react-tel-input {
  padding-left: 88px;

  .form-control {
    @include border-radius(8px);
    padding-left: 20px;
  }

  .flag-dropdown {

    width: auto;
    height: auto;
    left: 0;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .selected-flag {
      width: 78px;
      padding: 12px 20px;
    }


    .country-list {
      top: 40px;
      left: 0;

      .search {
        width: 100%;
        margin: 0;
        padding: 13px 10px;

        .search-box {
          width: 100%;
          margin: 0;
        }
      }

      .search-emoji {
        display: none;
      }
    }


    .selected-flag {
      display: flex;
      gap: 10px;
    }
  }
}


/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}
body .BuilderDialoge .MuiDialog-container {padding: 0;
  .MuiDialog-paper {width: 100%;
    box-shadow: none;
    border-radius: 0;

  }
}

@include for-mobile-large-screen {
  .chip {
    white-space: nowrap;
    &.sm {font-size: 8px;height: 12px;}
  }

  
  .paymentInviteBox {width: 100%;
    
    form {width: 100%;
    flex-direction: column;
    > div {width: 100%;}
  }
    .ReactTags__tags {width: 100%;
      
    }
    .col-right  {
      justify-content: center;
    }
  }

  .btn.btn-border.black-border {
    width: 250px;
    height: 35px;
  }

  .modalDialog .MuiDialog-container {
    align-items: flex-end;
  }

  .f12m {
    font-size: 12px !important;
    
  }

  .f14m {
    font-size: 14px !important;
  }

  .MuiDialog-paper {
    margin: 0;
    width: 100%;
  }


  .btn {
    &.btn-xs {
        padding: 6px 11px;
    }
    &.btn-md {
      &.sm {
        padding: 10px 20px;
      }

      height: 40px;
      padding: 9px 30px 8px;
    }

    &.btn-primary {
      &.no-rounded {
        border-radius: 4px !important;
      }
    }
  }

  .h2,
  h2 {
    font-size: 28px;
    line-height: 1.4;
  }

  .h1-lg {
    font-size: 28px;
    line-height: 1.4;
  }

  .owl-theme .owl-dots {
    .owl-dot.active span {
      width: 35px;
      background-color: $basecolor2;
    }

    .owl-dot span {
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      background: rgba(231, 0, 63, 0.36);
    }
  }

  h1.text-border-lg {
    font-size: 40px;

    span {
      -webkit-text-stroke: 1px $white;
    }
  }

  .border-line-blue-bottom,
  .border-line-pink-bottom {
    background-image: none;
  }

  .section-padding-lg {
    padding: 60px 0 0 !important;
  }

  .section-w {
    width: 100%;
  }

  .mb-50 {
    margin-bottom: 30px;
  }
}


