@import '../variables.scss';
@import '../_css3-mixins.scss'; //This is used for basic css3 usage with minimal line of code, info https://github.com/matthieua/sass-css3-mixins/blob/master/css3-mixins.scss


// search share dropdown header

.humberer {
   width: 15px;
}
.ShareDropdown {
   @include transition(all 0.2s ease-in-out);
   padding: 0px;
   position: relative;

      .ShareDropdownHandle {
         padding: 10px 0;
      }
   

   .DropdownItems {
      display: none;
      width: 100%;
      position: absolute;
      height: auto;
      top: 40px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
         @include border-radius(8px);
         z-index: 4;
         padding: 15px 13px;
         width: 170px;


         background: #FFFFFF;
         border: 1px solid #FFFFFF;
         box-shadow: 0px 10px 32px rgba(0, 196, 204, 0.15), 0px 16px 32px -4px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
         border-radius: 8px;

         .DropdownItemsBox {
            gap: 38px;

            a {
               color: $white;

            }

            i {
               display: flex;
            }
         }
   }
}
.flagIcon {
   width: 20px;
   height: 20px;
   border-radius: 100px;
}

.Header {
   position: sticky;
   top: 0;
   width: 100%;
   left: 0;
   z-index: 7;
   .HeaderBox {
      height: $headerHeightMd;
      display: flex;
      align-items: center;
   }
   
   &.AiBookingFrontHeader {position: relative; background-color: $white;
      height: 60px;
      display: flex;
      align-items: center;
   }
   &.AiBookingMainHeaderRow1 {
      position: relative;
      height: 30px;
      z-index: 11;
   }
   &.AiBookingMainHeaderRow2 {
      position: relative;
      
   }
   .Dropdown {
      @include transition(all 0.2s ease-in-out);
      display: flex; 
      padding: 0px;
      height: $headerHeightMd;
      &:hover .DropdownItems {
         opacity: 1;
         visibility: visible;
         transform: translateY(0); // Moves to normal position
       }
      .DropdownItems {
         @include transition(opacity 0.3s ease-in-out, transform 0.3s ease-in-out);

         opacity: 0;
         visibility: hidden;
         transform: translateY(-10px); // Move slightly up
         position: absolute;
         height: auto;
         top: 60px;
         right: 0;
         @include border-radius(8px);
         z-index: 4;
         background-color: #0B1729E5;
         border: solid 1px $white;
         padding: 28px 15px 28px 50px;
         width: 200px;
         color: $white;
         .DropdownItemsBox {
            gap: 38px;
            a {color: $white;
               
            }

            i { display: flex;}
         }
      }
   }
   .leftCol .Logo {
      width: 62px;
   }
   &.Sticky {
      height: $headerHeightMd;
      background-color: $white;
      transition: all 0.3s ease-in-out;
      .Login {
         color: $basecolor-dark;
      }
      .Logo img {
         display: block;
      }

      .navItems {
         .navItem {
            color: $basecolor-dark;
            &:hover {
               color: $basecolor1;
            }
         }
      }

   }

   &.isMytrip {
      padding-right: 10px;
      background-color: $white;
      box-shadow: 0px 1px 0px rgba(0, 80, 83, 0.05);
      
      .Box {z-index: 8;
         .Login {
            color: $basecolor-dark;
            
         }
         .navItems .navItem {
            color: $basecolor-dark;
            &:hover {
               color: $basecolor1;
            }
         }
      }
   }
   &.isMessage {
      .HeaderBox {
         z-index: 20;
         position: sticky;
         padding-right: 10px;
         background-color: $white;
         border-bottom: solid 1px #E6EEEE;
      }
      
      .Box {z-index: 8;
         .Login {
            color: $basecolor-dark;
            
         }
         .navItems .navItem {
            color: $basecolor-dark;
            &:hover {
               color: $basecolor1;
            }
         }
      }

   }

   .navbar {}


   .Login {
      color: $white;
      text-decoration: none;
   }

   .navItems {
      .navItem {
         color: $white;
         text-decoration: none;
         font-size: 14px;
         padding: 20px 24px 20px 0;
         font-weight: $bold;
         &:last-child {
            padding-right: 0;
         }
         
         
         
         &:hover {
            color: $basecolor1;
         }
      }
   }
}

.forHomeHero {
   padding: 20px 0;
   .FooterBox {
      .FooterBoxRight {
         font-size: 24px;
         a:hover {
            color: $basecolor1 !important;
         }
      }
   }
}
 .FooterForLight  {position: relative;z-index: 1;
   padding: 0px 0;
   
   .FooterBox {
      border-top: solid 1px $lightgray2;
      .FooterBoxRight {
         font-size: 24px;
         a:hover {
            color: $basecolor1 !important;
         }
      }
   }
 }
 .FooterForReview  {position: relative;z-index: 1;
   padding: 20px 0;
   .FooterBox {
      .FooterBoxRight {
         font-size: 24px;
         a:hover {
            color: $basecolor1 !important;
         }
      }
   }
 }
 .FooterForDark {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 20px 0;
   z-index: 1;
 }

 

 @include for-tab-screen () {
   .footerClientLogos {
      justify-content: flex-start;
   }
}
 @include for-mobile-large-screen () {
   .FooterForLight  {
      .footerClientLogos {
         flex-wrap: wrap;
         gap: 12px;
         .footerClientLogo {
            // height: 32px;
            // width: 64px;
         }
      }
   }
   .ShareDropdown {
      .DropdownItems {
         top: 60px;
      }
      .ShareDropdownHandle
       {
         padding: 0;
         height: $headerHeightXs;
      }
   }
   .airlinepowerBtn {
      
      display: flex;
      width: auto;
   }
   
   .FooterForDark {
      z-index: 4;
   }
   .formobileDrawer {
      .userName {
         font-weight: $bold;
         font-size: 16px !important;
      }
   }
   .CurrencyItem p {
      font-size: 16px;
      font-weight: 600;
   }
   .MobileNav a {
      display: block;
   }
    .HeaderDrawer {
      .navItems {
         a {
            color: $black;
            text-decoration: none;
            font-weight: $bold;
         }
      }
    }
   
    .Header {
      .HeaderBox {height: $headerHeightXs;display: flex; align-items: center;}
      &.Sticky {
         height: $headerHeightXs;
      }
       &.AiBookingMainHeaderRow2 {
         height: 40px;
      }
      &.AiBookingFrontHeader {
         position: sticky;
         z-index: 12;
         background: #fff;
      }
      .Dropdown.forHader .Login {
        flex-direction: row;
      }
      &.isMessage {padding-right: 0;
         .Box {
            z-index: 8;gap: 15px;
            justify-content: flex-start;
            position: relative;
            z-index: 7;
         }
      }
      .Box {
         
      }
      .Dropdown {padding: 20px 20px; height: $headerHeightXs;
         .DropdownItems {
            right: 0;
            top: 45px;
         }
      }
      &.isHome {
         .Container {
            padding-left: 20px;
            padding-right: 20px;
         }
      }
      &.isMessage {
         .Container {
            padding-left: 15px;
            padding-right: 15px;
         }
         .leftCol .Logo {
            width: auto;
         }
         .HeaderRightCol {gap: 0 24px;
            position: absolute;
            right: 0;
         }
         .userName {
            display: none;
         }
      }
      .leftCol .Logo {
         width: 53px;
      }
      .HeaderRightCol {gap: 0;
         .ChatIcons {gap: 0 24px;
            .ChatIcon {width: 20px;}
         }
         .Dropdown {
            padding: 0px;  
         }

      }
   }
 }

 @include for-tab (){ 
   .Header {
      .Dropdown {
         .DropdownItems {
            
         }
      }
   }
 }