@import '../variables.scss';
@import '../_css3-mixins.scss'; //This is used for basic css3 usage with minimal line of code, info https://github.com/matthieua/sass-css3-mixins/blob/master/css3-mixins.scss


.Header {
   box-shadow: 0px 1px 0px rgba(0, 80, 83, 0.05);
   position: fixed;
   top: 0;
   width: 100%;
   left: 0;
   z-index: 2;
   height: 80px;
   display: flex;
   align-items: center;
   .Dropdown {
      @include transition(all 0.2s ease-in-out);
      display: flex; 
      padding: 28px 0px;
      &:hover .DropdownItems {
         opacity: 1;
         visibility: visible;
         transform: translateY(0); // Moves to normal position
       }
      .DropdownItems {
         @include transition(opacity 0.3s ease-in-out, transform 0.3s ease-in-out);

         opacity: 0;
         visibility: hidden;
         transform: translateY(-10px); // Move slightly up
         position: absolute;
         height: auto;
         top: 70px;
         left: 0px;
         @include border-radius(8px);
         z-index: 4;
         background-color: #0B1729E5;
         border: solid 1px $white;
         padding: 28px 15px 28px 50px;
         width: 200px;
         color: $white;
         .DropdownItemsBox {
            gap: 38px;
            a {color: $white;
               
            }

            i { display: flex;}
         }
      }
   }
   &.Sticky {
      height: 80px;
      background-color: $white;
      transition: all 0.3s ease-in-out;
      .Login {
         color: $basecolor;
      }
      .Logo img {
         display: block;
      }

      .navItems {
         .navItem {
            color: $basecolor;
            &:hover {
               color: $basecolor;
            }
         }
      }

   }

   

   &.isMessage {
      background-color: $white;
      height: $header-height;
      display: flex;
      align-items: center;
      .Box {
         .Login {
            color: $basecolor;
            
         }
         .navItems .navItem {
            color: $basecolor;
            &:hover {
               color: $basecolor1;
            }
         }
      }

   }

   .navbar {}


   .Login {
      color: $white;
      text-decoration: none;
   }

   .navItems {
      .navItem {
         color: $white;
         text-decoration: none;
         font-size: 14px;
         padding: 20px 20px;
         font-weight: $bold;
         
         
         &:hover {
            color: #fff;
         }
      }
   }
}

 .FooterForLight  {position: relative;z-index: 1;
   padding: 20px 0;
   .FooterBox {
      border-top: solid 1px $lightgray2;
      .FooterBoxRight {
         font-size: 24px;
         a:hover {
            color: $basecolor1 !important;
         }
      }
   }
 }
 .FooterForReview  {position: relative;z-index: 1;
   padding: 20px 0;
   .FooterBox {
      .FooterBoxRight {
         font-size: 24px;
         a:hover {
            color: $basecolor1 !important;
         }
      }
   }
 }
 .FooterForDark {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 20px 0;
   z-index: 1;
 }

 
 @media only screen and (max-width: 767px) {
   .FooterForDark {
      z-index: 4;
   }
    .HeaderDrawer {
      .navItems {
         a {
            color: $black;
            text-decoration: none;
            font-weight: $bold;
         }
      }
    }
   .Header {height: 80px;
      .Dropdown {padding: 20px 20px;
         .DropdownItems {
            left: -90px;
         }
      }
      
      &.isMessage {
         
      }
   }
   
 }

 @include for-mobile-large-screen () {
    .Header {height: 54px;
      &.isMessage {
         .HeaderRightCol {gap: 0 24px;}
         .userName {
            display: none;
         }
      }
      .leftCol .Logo {
         width: 53px;
      }
      .HeaderRightCol {gap: 0;
         .ChatIcons {gap: 0 24px;
            .ChatIcon {width: 20px;}
         }
         .Dropdown {
            padding: 20px 0px;  
         }

      }
   }
 }