@import "../_variables.scss";

.newChatBtn.publicBtn {
  width: auto;
  height: 32px;
  border: 1px solid rgba(197, 218, 222, 0.3);
  background-color: $basecolor1-dark2;
}
.homeBody {
  position: relative;
  margin-top: -60px;
}
.ChatBullets {
  gap:7px 10px;
  padding-top: 18px;
  text-align: center;
  .ChatBullet {
    padding-right: 10px;
    
    color: #D3D3D3;
    line-height: 1.2;
    border-right: solid 1px $white;
    &:last-child {
      border-right: none;
      padding-right: 0;

    }
  }
}
.HomeBannerReview {
  h1 {
    color: $white;
  }

  .ReviewSection {
    .IdeaCard {
      margin-bottom: 46px;

      .star {
        width: 40px;
      }
    }
  }
}

.AppSection {
  background: linear-gradient(to bottom, $basecolor1-sky 90%, $white 50%);
  
  padding: 180px 0 0;
  

  .MobileDevice {
    position: absolute;
  }
  .AppSectionRight {
    height: 408px;
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.PagesBanner {
  margin-top: -60px;
}
.HomeBanner {
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;

  background-image: url("/images/home-fold-bg1.png");
  background-repeat: no-repeat;
  background-position: center 10%;
  position: relative;
  background-size: cover;
  &.HomeBannerSm {
    height: 50vh;
    background-position: center 20%;
    .HeroSection {
      padding: 30vh 0;
    }

  }

  h1 {
    color: $white;
  }

  /* Rectangle 24 */
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(11, 23, 41, 0.6);

  }

}


.HeroSection {
  position: relative;
  z-index: 1;
  padding: 20vh 0 12vh;
  
  &.mainHeroSection {
    padding: 20vh 0 12vh;

    height:100vh ;
    .Box {
      .Content {
        display: flex;
        justify-content: center;
        width: 100%;

        .ContentIn {
          width: $BoxContainerLg;
          &.ContentInSection1 {
            margin-bottom: 24px;
          }
        }
      }
    }

    &.Active {
      padding: 0;

      .Box {
        .Content {
          padding: 0;
          display: flex;
          justify-content: center;

          .ContentIn {
            width: $BoxContainerLg;
          }
        }
      }
    }
  }

  .Box {
    width: 100%;

    .Content2 {
      margin-bottom: 24px;
      display: flex;
        justify-content: center;
        width: 100%;
      .Content2In {
        // width: 42%;
        h2 {margin-bottom: 0;}
        &.ContentFullWidth {
          width: 100%;
        }
      }

    }
  }

  &.Active {
    padding: 0;
  }
}

.poweredBysection {
  .Items {
    height: 48px;
  }
}


.IdeaCard {
  .Box {
    padding: 40px;
    height: 100%;
    padding: 10px 20px 5px;

    .thumb {
      border-radius: 20px;
      background-color: $basecolor2;
      width: 110px;
      height: 110px;
      margin: 0px auto 20px;

      img {
        filter: brightness(0) invert(2);
      }

    }

    .icon {
      height: 25px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    h4 {}

    p {
      font-size: 14px;
    }
  }

  .Card {
    padding: 16px 15px;
    border: 1px solid #A6A6A6;
    height: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .HeroSection .Box {}
  
    
}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 767px) {
  .ChatBullets {
    gap: 6px 0px;
    .ChatBullet {
      padding-right: 6px;
    }
  }

  
  
  .HomeBannerReview {
    h1 {
      color: $white;
    }

    .ReviewSection {
      .IdeaCard {margin-bottom: 62px;}
    }
  }
  .AppSection {
    padding: 167px 0 80px;
    background: linear-gradient(to bottom, $basecolor1-sky 75%, $white 50%);
    .MobileDevice {
      position: relative;
    }
    .AppSectionRight {
      height: auto;
      padding: 0px 0 30px;
    }
    .appLogos {gap: 17px;
      .appLogo {width: 248px;
        height: 100%;
        img {      
          width: 100%;
          height: 100%;
        }
      }
    } 
  }  
  
  .PoweredByglobal {
    h3 {font-size: 32px;}
  }
  .poweredBysection {
    gap: 40px 20px;

    .Items {
      height: 26px;
      width: 44%;
      display: flex;
      justify-content: center;
    }
  }
  
  .HomeBanner {
    height: 812px;
    .HeroSection {
      padding: 20vh 0 10vh;
      position: relative;
      z-index: 2;
      &.Home {
        height:90vh ;
      }
      footer {
        display: block;
      }

      .Box {
        .Content2 {
          margin-bottom: 24px;
          .Content2In {
            width: $BoxContainerXs;
          }
        }
      }
    }
  }

  .mainHeroSection.HeroSection {
    height: auto;
    padding: 19vh 0 30vh;
    flex-direction: column;
    justify-content: center;

    .Box .Content .ContentIn {
      &.ContentInSection1 {
        margin-bottom:18px;
      }
      width: $BoxContainerXs;
    }

    &.Active {
      padding: 0;

      .Box {
        .Content {

          .ContentIn {
            padding-bottom: 0;
            width: $BoxContainerXs;
          }
        }
      }
    }
  }
}


@include for-tab-screen (){
  
  .AppSection .MobileDevice { 
    bottom: -50px;
  }
}

 @media only screen and (max-width: 768px) and (max-height: 500px) {
  .HomeBanner .HeroSection footer {
     padding: 0;
     margin-top: 10px;
     position: relative;
  }

    .HomeBanner {
        height: auto;
    }
  
}