@import "../_variables.scss";

.HomeBannerReview {
  h1 {
    color: $white;
    font-size: $h1-lg;
  }
  &::after {
    display: none;
  }
}
.HomeBanner {
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  
  background-image: url("/images/home-fold-bg1.png");
  background-repeat: no-repeat;
  background-position: center 10%;
  position: relative;
  background-size: cover;

  h1 {
    color: $white;
    font-size: $h1-lg;
  }

  /* Rectangle 24 */
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(11, 23, 41, 0.6);

  }

}

.HomeBannerActive {
  background-color: $basecolor1-light;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;

  &::before {
    display: none;
  }
}

.HeroSection {
  position: relative;
  z-index: 1;
  padding: 30vh 0 2vh;
  &.ReviewSection {
    padding: 20vh 0 20vh;
  }
  &.AppSection {
    padding: 15vh 0 15vh;
    .MobileDevice {
      bottom: -160px;
      right: 0;
    }
  }
  .Box {
    width: $BoxContainerLg;
  }
  &.Active {
    padding: 0;
  }
}

  
.IdeaCard {
  .Box {
    padding: 40px;
    height: 100%;
    padding: 10px 20px 5px;
    .thumb {
      border-radius: 20px;
      background-color: $basecolor2;
      width: 110px;
      height: 110px;
      margin: 0px auto 20px;
      img {
        filter: brightness(0) invert(2);
      }
      
    }
    .icon {height: 25px;
      img {
         max-width: 100%;
         max-height: 100%;
      }
    }
    h4 {
      
    }
    p {
      font-size: 14px;
    }
  }
  .Card {
    padding: 16px 15px 0;
    border: 1px solid #A6A6A6;
    height: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .HeroSection .Box {
    width: $BoxContainerMd;
  } 
}
@media only screen and (max-width: 1024px) {
  .HeroSection .Box {
    width: $BoxContainerSm;
  }
}
@media only screen and (max-width: 767px) {
  .HeroSection .Box {
    width: $BoxContainerXs;
  }
}

@media only screen and (max-height: 650px) {
  .HomeBanner .HeroSection {
    padding: 25vh 0 2vh;
  }
  // .HomeBanner .mainHeroSection.HeroSection {
  //   padding: 30vh 0 0vh;
  // }
}
