@import "../_variables.scss";

.HomeMain {  
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}
.HeroSection {
  padding: 8vh 0 8vh;
  .Box {
    width: 70%;
  }
  &.Active {
    padding: 0;
  }
}
.messageBody {
  padding: 48px 0 40px;
  .UserMessage {
    background-color: #C2DFF9;
    color: #0B1729;
    @include border-radius(12px);
    
  }
}
.SearchBoxSection {
  &.active { 
    width: 100%;
    padding:0 0 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .SearchBox > div {
      width: 70%;
    }
  }
  .SearchBox > div {
    width: 100%;
  }
}
  
.IdeaCard {
  .Box {
    padding: 40px;
    height: 100%;
    padding: 10px 20px 5px;
    .thumb {
      border-radius: 20px;
      background-color: $basecolor2;
      width: 110px;
      height: 110px;
      margin: 0px auto 20px;
      img {
        filter: brightness(0) invert(2);
      }
      
    }
    .icon {height: 25px;
      img {
         max-width: 100%;
         max-height: 100%;
      }
   }
    h4 {
      
    }
    p {
      font-size: 14px;
    }
  }
}
