@import '../../variables.scss';
@import '../../css3-mixins'; //This is used for basic css3 usage with minimal line of code, info https://github.com/matthieua/sass-css3-mixins/blob/master/css3-mixins.scss


.SignupOptions .SignupOption {
  margin-bottom: 10px;
  
}
body {
   .ChatDialogContent {
     padding: 24px
   }

}
.orDivider {
   text-align: center;
   hr {
     flex: 1;
     border: none;
     border-top: 1px solid $lightgray2;
   }
   
   span {
     margin: 0 10px;
     color: gray;
     font-weight: bold;
   }
 }
 