@import "../../_variables.scss";


@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* start above */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* final position */
  }
}

.SearchFilterBar {
  animation: slideInTop 0.5s ease forwards;

   background: #FFFFFF;
   border-bottom:solid 1px #E6EEEE;
   min-height: 40px;
   z-index: 5;
   position: relative;
   justify-content:center;
   align-items:center;

   .Content {
      
      .filterRrow {
         p {
            border-right: solid 1px $black;
            margin-right: 5px;
            padding-right: 5px;
            line-height: 1;
            font-size: 12px;
            &:last-child {
               border: none;
               padding-right: 0;
               margin-right: 0;
            }
         }
         &:last-child {
            border: none;
         }
      }
      .filterRrow2 {
         p {
            border-right: solid 1px $gray;
            margin-right: 5px;
            padding-right: 5px;
            line-height: 1;
            
            &:last-child {
               border: none;
            }
         }
      }
   }
}

@include for-tab (){
   .SearchFilterBar {
          width: 100%;
   }
}
@include for-mobile-large-screen () {
   .SearchFilterBar {
      width: 100%;
      padding-top: 0;
      .Content {
         width: 100%;
         min-height: 45px;
         z-index: 5;
         border-radius: 0;
         border-top: solid 1px #E6EEEE;
         border-bottom: solid 1px #E6EEEE;
         box-shadow: none;
         padding: 7px 14px;
         .filterRrow {
            p {
               font-size: 8px;
            }
         }
         .filterRrow2 {
            p {margin-top: 2px;}
         }
      }
   }
}

