@import "../../_variables.scss";

.messageContent {
  display: flex;
  justify-content: center;
  width: 100%;

  .messageContentIn {padding: 0px 0 100px;margin-top: 160px;width: $BoxContainerLg;
     .UserMessage {
       background-color: $basecolor1-dark;
       color: #0B1729;
       @include border-radius(12px);
       max-width: 80%;
       padding: 12px 20px;
     }
     .AiMessage {
       color: #0B1729;
       @include border-radius(12px);
       width: 100%;
       padding: 12px 20px;
       max-width: 80%;
     }
   }
}

//  
.flightOfferCard {
   background: white;
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   transition: 0.3s ease-in-out;
   margin-bottom: 20px;
 
   &:hover {
     transform: scale(1.02);
   }
 }
 
 .airlineLogo {
   @include scale(48px, 48px);
   @include border-radius(0);
   
 }
 
 .flightTime {
   font-weight: $semibold;
 }
 .separater {
   padding: 0 10px;
   span {
      /* Rectangle 117 */
      background: #82B4E8;
      width: 100%;
      display: flex;
      height: 1px;
   }
}
.flightDurationBox {
 .flightDuration {
   font-size: 12px;
   color: #69707B;
 }
}
 
 .flightRoute {
  
 }
 
 
 .flightPrice {
   
 }
 
 
 .rowExtraInfo {
  margin-top: 30px;
   display: flex;
   justify-content: space-between;
   font-size: 0.85rem;
   color: gray;
 }
 
 .normalOption {
   padding: 7px 10px;
   line-height: 1;
   gap: 8px;
   display: flex;
   font-weight: 500;color: grey;
    &.fastestOption {
      border: 1px solid #D3D3D3;
      border-radius: 8px; 
     }
   }
 
 .baggageInfo,
 .carbonFootprint {
   display: flex;
   align-items: center;
   gap: 5px;
 }
 
 @include for-mobile-large-screen {
 
  .flightOfferCard {
      .flightDurationBox {border-top: solid 1px #82B4E8;padding: 0px 15px;
        .flightDuration {
          display: flex;
        }
    }
    .selectFlightBtn {
      background: none;
      color: $basecolor1 !important;
      box-shadow: none;
      padding: 0 !important;
      height: 100%;
      i {
        font-size: 20px;
      }
    }
    .flightDuration {
      font-size: 10px;
    }
      .airlineLogo {
      @include scale(32px, 32px);
      @include border-radius(0);
      
    }
    .Timings {
      display: flex;
      gap: 2;
      flex-direction: column;
    }
    .flightRoute, .flightTime {
      font-size: 12px;
    }
    .flightPriceSection {
      font-size: 20px !important;
      white-space: nowrap;
    }   
  }
 
 }
 @include for-mobile-large-screen() {

   .messageContent {
     display: flex;
     justify-content: center;
     width: 100%;
     .messageContentIn {
       width: 100%;
     }
   }
 }