@import "../../_variables.scss";

// loading 
/* Rectangle 1068 */

// scroll bar decrease
/* Custom scrollbar styles */
.ChatBody::-webkit-scrollbar {
  width: 10px; // Increase or decrease width
}

.ChatBody::-webkit-scrollbar-track {
  background: #f1f1f1; // Light grey track
}

.ChatBody::-webkit-scrollbar-thumb {
  background: #999; // Darker thumb
  border-radius: 4px;
}

.ChatBody::-webkit-scrollbar-thumb:hover {
  background: #666; // Even darker on hover
}

/* Firefox */
.ChatBody {
  scrollbar-width: thin;
  scrollbar-color: #aaa #f1f1f1;
}

// scroll end
.MobileLoadingRow {
  left: 0%;
  top: 70px;
  z-index: 5;
  .MobileLoading {
  }  
}

.SearchBodyActive {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full screen */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-color: $basecolor1-light;
  background-image: url("/images/search-bg.png");
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &::before {
    display: none;
  }

  .ChatBody {
    flex: 1 1 auto;
    overflow-y: auto;
  }
  .InputBody {
    flex-shrink: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0 25px;
    z-index: 3;
    background-image: url("/images/search-footer-bg.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    .InputContainer {
      padding: 0 12px;
    }
  }

}
.SearchBodyActive  .Container {
  
}
.messageContent {
  .CircleButton {
    position: fixed;
    bottom: 100px !important;
    z-index: 28;
    top: inherit;
    left: 48%;
  }
    &.FilterActive .messageContentIn {
      margin-top: 150px;
    }

  .messageContentIn {
    padding: 0px 0 35px;
    margin-top: 50px;
    position: relative;


    .Aibox {
      width: 100%;
    }

    .UserMessage {
      background-color: $basecolor1-dark;
      color: #0B1729;
      @include border-radius(22px);
      max-width: 80%;
      padding: 10px 24px;
      margin-bottom: 34px;

      p {
        color: $basecolor-dark;
        margin: 0;
      }
    }

    .AiMessage {
      color: #0B1729;
      width: 100%;
      padding-bottom: 34px;
      max-width: 80%;

      p {
        color: $basecolor-dark;
        margin: 0;
      }
    }
  }
}


//  
.RightColBaggage {
  line-height: 1;
  opacity: 0.5;
}
.ChatBody .ChatBodyLeft {max-width: 674px;}
.NotfoundCard {
  border-radius: 12px;
  max-width: 100%;
  background: $white;
  border: 1px solid #E6EEEE;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  margin-bottom: 10px;
  .CardLeft {
    
  }
  .CardRight {
    border-left: solid 1px $lightgray3;
  }
}
.SearchCardWrapper {
  .SearchCardGrid {
    .flightOfferCard {
      max-width: 100%;
      background: $white;
      border: 1px solid #E6EEEE;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      transition: 0.3s ease-in-out;
      margin-bottom: 10px;
      
      .selectFlightBtn {
        height: 30px;
        font-size: 12px;
        line-height: 0.8; 
        
      }
      .IsSelected {
        height: 30px;
        width: 100% !important;
        padding: 0; 
        white-space: nowrap;
        line-height: 1;
        font-size: 12px;
        background-color: #DEE1E6;}
      .FromAndToRow {width: 100%;}
      &.Oneway {
        // .CardRight .RightTopSection {margin-bottom: 8px;}
        .FromAndToRow  .rowExtraInfo {
          align-items: flex-start;
        }
        
      }
      &.Return {
        .CardRight {}
      }
      
      .FromAndToRow {
        &:last-child {
          margin-bottom: 0;
        }
        .rowExtraInfo {
          
        }
      }
    
      .flightPriceSection {
        font-size: $bfsizeLabel;
        white-space: nowrap;
      }
    
      .destination {font-size: 10px;
    position: relative;
    bottom: 5px;}
      .Duration {
        font-size: 10px;
        position: relative;
    bottom: -5px;
      }
      .flightDay {
        font-size: 10px;
      }
      .Timings {
      }
      .Duration  {}
    
      &:hover {
        transform: scale(1.02);
      }
    
      .CardLeft {
        padding: 18px;
      }
      .CardRight {
        padding: 16px 14px 16px 17px;
        border-left: solid 1px $lightgray3;
        
        .selectFlightBtn {}
      }
      .logoCol {
        .airlineLogo {
          border-radius: 0;
          justify-content: flex-start;
          background: $white;
          
          img {
            width: 100%;
            height: auto;
          }
        }
        &.round .airlineLogo {
          @include scale(30px, 30px);
        }
        &.oneway .airlineLogo {
          @include scale(52px, 52px);
        }

      }
    
      .rowExtraInfo {
        display: flex;
        justify-content: space-between;
        font-size: 0.85rem;
        color: gray;
      }
    
      .flightDurationBox {
        width: 80%;
        
        .flightDuration {
          font-size: 12px;
          color: $black;
        }
      }
    
      .SearchDivider {
        border-top: 2px dashed transparent;
        border-image: repeating-linear-gradient(to right, #D9D9D9 0, #D9D9D9 4px, /* Dash size */ transparent 6px, transparent 9px /* Gap size */) 100% 1;
        position: relative;
        margin: 8px 0;
    
        .dots {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
          width: 100%;
          bottom: -4px;
          gap: 14px;
    
          .dot {
            width: 8px;
            height: 8px;
            background: #000000;
            border: solid 2px $white;
            @include border-radius(20px);
          }
        }
    
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: -1px;
          width: 6px;
          height: 6px;
          background-color: #D9D9D9;
          border-radius: 50%;
          transform: translateY(-50%);
        }
    
        &::before {
          left: -5px;
        }
    
        &::after {
          right: -5px;
        }
      }
    
      .flightTime {
        font-weight: $semibold;
        font-size: 18px;
      }
    
      .logoCol {
        
      }
    
      .FlightTimingsCol {
        display: block;
      }
    }
  }
}



.separater {
  padding: 0 10px;

  span {
    /* Rectangle 117 */
    background: #82B4E8;
    width: 100%;
    display: flex;
    height: 1px;
  }
}

.flightRoute {}


.flightPrice {}



.normalOption {
  padding: 7px 10px;
  line-height: 1;
  gap: 8px;
  display: flex;
  font-weight: 500;
  color: grey;
  font-size: 11px;

  &.fastestOption {
    border: 1px solid #D3D3D3;
    border-radius: 8px;
  }
}

.baggageInfo,
.carbonFootprint {
  display: flex;
  align-items: center;
  gap: 5px;
}

@include for-mobile-large-screen {
  .NotfoundCard {
    .CardRight {
      border-left: none;
    }
  }
  .BaggageCol {opacity: 0.5;}
  .ChatBody .ChatBodyLeft {max-width: 100%;}
  
  .SearchBodyActive {
    .InputBody {padding-bottom: 0;}
    .InputBody .InputContainer {
      padding: 0;
    }
    .Container {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  .ExtraServicesWraper {
      display: grid;
      width: auto;
      margin-right: -16px;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      padding-left: 16px;


      .ExtraServicesGrid {
        scroll-behavior: smooth; 
        padding-right:16px;
        padding-left: 0;

        display: flex;
        overflow-x: auto;
        gap: 8px;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        flex-direction: inherit;
        flex-wrap: nowrap;
        .ExtraServicesCol {
          scroll-snap-align: start;
          scroll-snap-stop: always;
          min-width: 319px;
          padding-left: 0;
          transition: transform 0.3s ease; /*animate on scroll stop if needed */
        }
      }
    }
  .SearchCardWrapper {
    display: grid;
    width: 100%;
    // margin-right: -20px;
    .SearchCardGrid {
      // for horizontal scroll
      // padding-right: 20px;
      // scroll-snap-type: x mandatory;
      // display: flex;
      // overflow-x: auto;
      // scroll-snap-type: x mandatory;
      // -webkit-overflow-scrolling: touch;
      // scrollbar-width: none;
      // margin-left: -5px;
      // padding-left: 16px;
      // gap: 8px;
      .Box {
        border-top: solid 1px $lightgray3;
        padding-top: 5px;
        padding-left: 2px;
        
      }
      
      .flightOfferCard {
        .selectFlightBtn {
          width: 150px !important;
          padding: 9px 40px 9px;
          white-space: nowrap;
          height: 30px;
        }
        .IsSelected {padding: 9px 40px 9px;height: 30px;}
        
        .logoCol .airlineLogo {@include scale(36px, 36px);}
        // for horizontal scroll
        // scroll-snap-align: start;
        // scroll-snap-stop: always;   
        // min-width: 319px;
        .FromAndToRow {width: 100%;}
        .CardRight .RightTopSection {margin-bottom: 4px;}
        &.Oneway {
          .FromAndToRow {
            .rowExtraInfo {
              margin-bottom: 18px;
            }
          }
          .CardLeft {padding: 14px 12px 0 16px 12px 0 12px;}
        }
        .CardLeft {
          padding: 16px 12px 0 12px;
        }
        .CardRight {
          padding: 12px 12px 12px;
        }
        .FromAndToRow {
          .fromAndToDetail {
          }
          .rowExtraInfo {
            margin-bottom: 16px;
          }
        }
        .DetailRow {
          gap: 0 8px;
        }
  
        
  
        .flightDuration {
          font-size: 10px;
        }
  
        
  
        .Timings {
          display: flex;
          gap: 2;
          flex-direction: column;
        }
  
        .flightRoute {
          font-size: 10px !important;
        }
        .flightTime {
          font-size: 14px !important;
        }
  
        .flightPriceSection {
          white-space: nowrap;
          font-size: 18px;
        }
      }
    }
  }

}

@include for-mobile-large-screen() {


// ExtraServicesSection
.ExtraServicesSection {
  border: solid;
}
  .messageContent {
    display: flex;
    justify-content: center;
    width: 100%;
    &.FilterActive .messageContentIn {
      margin-top: 140px;
    }
    .messageContentIn {
      width: 100%;
      padding: 0px 0px 34px;
      margin-top: 80px;

      .Aibox {
        width: 100%;
      }

      .UserMessage {
        padding: 10px 16px;
        text-align: right;
        margin-bottom: 24px;
        max-width: 100%;
      }
      .AiMessage {
        max-width: 100%;
      }
    }
  }
}