@import "../../_variables.scss";

.SearchBoxGrid {
   position: fixed;
   width: 100%;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 0 0 25px;
   z-index: 3;
   background-image: url("/images/search-bg.png");
   background-size: cover;
   background-position: bottom center;
   background-repeat: no-repeat;
}
.SearchBoxSectionActive {
   .SearchBoxContainer {
      width: 100%;
      .label {
         position: absolute;
         z-index: 3;
         color: #D3D3D3 !important;
         top: 15px;
         left: 20px;
      }
   
      .SearchButtonBox {
         height: 100%;
         position: absolute;
         right: 0;
         top: 0;
         display: flex;
         align-items: center;
         padding: 15px;
         .SearchButton {
            width: 40px;
            height: 40px;
            z-index: 2;
            background-color: $basecolor1;
            @include border-radius(100px);
            color: $white;
            i {font-size: 20px;}
      
            &:hover {
               background-color: $basecolor1;
            }
         }
      }
   
      .SearchForm {
         border: 1px solid #E6EEEE;
         box-shadow: 0px 3px 12px rgba(0, 24, 122, 0.1);
         @include border-radius(36px);
         background-color: $white;
         padding: 0 60px 0  31px;
         display: flex;
         min-height: 66px;
         align-items: center;
         
         &:focus,
         &:focus-visible {
           outline: none;
           
         }
       }
   
      i {
         line-height: 2;
      }
   }
}

.SearchBoxSection .SearchBoxContainer {
   position: relative;
   width: 100%;

   .label {
      pointer-events: none;
      user-select: none; 
      position: absolute;
      z-index: 3;
      color: #D3D3D3 !important;
      top: 12px;
      left: 18px;
      line-height: 150%;
   }

   .SearchForm {
      outline: none;
         min-height: 86px !important;
         padding: 10px 45px 10px 16px;
         background: #0B1729;
         border: 1px solid #F7F7F7;
         border-radius: 16px;
         color: #D3D3D3;
         text-align: center;
         
   }

   .SearchButtonBox {
      display: flex;
      align-items: flex-end;
      padding: 15px;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      .SearchButton {
         width: 25px;
         height: 25px;
         background-color: $basecolor1;
         @include border-radius(100px);
         color: $black;
         font-size: $bfsize;
   
         &:hover {
            background-color: $basecolor1;
            color: $white;
         }
      }
   }

   i {}

}


@include for-mobile-large-screen {

   .SearchBoxSectionActive {
      .SearchBoxContainer {
         .SearchForm {
            border-radius: 50px;
            padding: 10px 55px 10px 15px !important;
            height: inherit;
            min-height: 66px;
         }
      }
   }





   .SearchBoxGrid {
      padding: 0 0 15px;
   }
   .SearchBoxSectionActive {
      padding: 0 15px;
      .SearchBox {
         
         .SearchButtonBox {
            top: 8px;
            .SearchButton {
            }
         }
         
         >div {
            
            padding: 0 15px 30px;
         }
      }
   }
}


// @media only screen and (max-width: 1200px) {
//    .SearchBoxSectionActive .SearchBoxContainer  {
//      width: $BoxContainerMd;
//    } 
//  }
//  @media only screen and (max-width: 1024px) {
//    .SearchBoxSectionActive .SearchBoxContainer  {
//      width: $BoxContainerSm;
//    }
//  }
//  @media only screen and (max-width: 767px) {
//    .SearchBoxSectionActive .SearchBoxContainer  {
//      width: $BoxContainerXs;
//    }
//  }