@import "../../_variables.scss";


.SearchBoxGrid {
   position: fixed;
   width: 100%;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 0 0 25px;
   z-index: 3;
   background-image: url("/images/search-footer-bg.png");
   background-size: cover;
   background-position: bottom center;
   background-repeat: no-repeat;
   .SearchBoxContainer {
      padding: 0;
   }
}
.SearchBoxSectionActive {
   .SearchBoxContainer {
      width: 100%;
      padding: 0 10px;
      .label {
         position: absolute;
         z-index: 3;
         color: #D3D3D3 !important;
         top: 15px;
         left: 20px;
      }
   
      .SearchButtonBox {
         position: absolute;
         right: 0;
         top: 0;
         background-color: $white;
         @include border-radius(36px);
         background-color: $white;
         width: auto;
         padding: 15px 15px 15px 0;
         &.active { width: 100%;@include display(flex);align-items: center;}
         
         .BoxButtons {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
            .SearchButton {
               width: 40px;
               height: 40px;
               z-index: 2;
               background-color: $basecolor1;
               @include border-radius(100px);
               color: $white;
               &.Disabled {
                  background-color: $lightgray1;
               }
               i {font-size: 20px;}
         
               &:hover {
                  background-color: $basecolor1;
               }
            }
            .MicButton {
               width: 40px;
               height: 40px;
               z-index: 2;
               background-color: $white;
               @include border-radius(100px);
               border: solid 1px $lightgray3;
               color: #656565;
               i {font-size: 20px;}
            }
         }
      }
   
      .SearchForm {
         border: 1px solid #E6EEEE;
         box-shadow: 0px 3px 12px rgba(0, 24, 122, 0.1);
         @include border-radius(36px);
         background-color: $white;
         padding: 20px 60px 20px  31px;
         display: flex;
         min-height: 66px;
         align-items: center;
         
         &:focus,
         &:focus-visible {
           outline: none;
           
         }
       }
   
      i {
         line-height: 2;
      }
   }
}



.SearchBoxSection {
   &.HeaderInput {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -2px;
      transform: translateY(-100%);
      opacity: 0;
      transition: transform 0.4s ease, opacity 0.4s ease;
      display: none;
      &.InputSticky {
         display: flex;
         transform: translateY(0);
         opacity: 1;
         position: absolute;
         bottom: -56px;
         width: 100%;
         justify-content: center;
         align-items: center;
         .Content {
            width: 756px;
            background-image: url("/images/input-sticky-bg.svg");
            background-size: 100%;
            background-position: bottom center;
            height: 58px;
            padding: 4px 50px 0;
            background-repeat: no-repeat;
   
            .SearchForm {
               min-height: 43px;
               background-color: $white;
               color: $basecolor;
            }
            .SearchButton {color: $white;}
            .SearchButtonBox {padding: 0;
               width: auto;
               .BoxButtons {
                  padding: 10px 15px;
                  .MicButton {
                     color: $gray;
                  }
               }
            }
         }
      }
      
   }
   .SearchBoxContainer {
      position: relative;
      width: 100%;

      .label {
         pointer-events: none;
         user-select: none; 
         position: absolute;
         z-index: 3;
         color: #D3D3D3 !important;
         top: 12px;
         left: 18px;
         line-height: 150%;
      }

      .SearchForm {
         outline: none;
            min-height: 86px;
            padding: 10px 75px 10px 16px;
            background: #0B1729;
            border: 1px solid #F7F7F7;
            border-radius: 16px;
            color: #D3D3D3;
            text-align: center;
            
      }

      
      i {}
      
   }
}
.SearchButtonBox {
   width: auto;
   position: absolute;
   z-index: 1;
   bottom: 0;
   right: 0;
   display: flex;
   align-items:flex-end;
   padding: 15px;
   gap: 0 10px;
   height: auto;
   &.active {
      height: 100%;
      z-index: 1;
      background: #0B1729;
      border: 1px solid #F7F7F7;
      border-radius: 16px;
   }
   .BoxButtons {
      display: flex;
      align-items: center;
      
      gap: 8px;
      .SearchButton {
         width: 25px;
         height: 25px;
         background-color: $basecolor1;
         @include border-radius(100px);
         color: $black;
         font-size: $bfsize;
      }
      .MicButton {
         width: 25px;
         height: 25px;
         padding: 0;
         @include border-radius(100px);
         color: $white;
         font-size: $bfsize;
         border: solid 1px $lightgray2;
         i  {font-size: 12px;}
         &:hover {
            background-color: $basecolor1;
            color: $white;
         }
      }
   }
}


@include for-mobile-large-screen {
   
   .SearchBoxSection {
      &.HeaderInput {
         &.InputSticky {
            position: absolute;
            width: 100%;
            top: 60px;
            left: 0px;
            .Content {
               background-color: $white;
               padding: 4px 15px 5px;
               @include border-radius(0px 0px 12px 12px);
            }
         }
      }
   }
      
   .SearchBoxSectionActive {
      .SearchBoxContainer {padding: 0;
         .SearchForm {
            border-radius: 30px 30px 0 0;
            padding: 20px 112px 20px 15px ;
            height: inherit;
            min-height: 66px;
         }
      }
   }





   .SearchBoxGrid {
      padding: 0 0 ;
   }
   .SearchBoxSectionActive {
      .SearchBox {
         
         .SearchButtonBox .BoxButtons {
            top: 8px;
            .SearchButton {
            }
         }
         
         >div {
            
            padding: 0 15px 30px;
         }
      }
   }
}


// @media only screen and (max-width: 1200px) {
//    .SearchBoxSectionActive .SearchBoxContainer  {
//      width: $BoxContainerMd;
//    } 
//  }
//  @media only screen and (max-width: 1024px) {
//    .SearchBoxSectionActive .SearchBoxContainer  {
//      width: $BoxContainerSm;
//    }
//  }
//  @media only screen and (max-width: 767px) {
//    .SearchBoxSectionActive .SearchBoxContainer  {
//      width: $BoxContainerXs;
//    }
//  }