@import "../../_variables.scss";

.SearchBoxSectionActive .SearchBox {
   width: 100%;

   >div {
      width: 100%;
   }
}

.SearchBoxSectionActive>div>div {
   position: relative;
   width: 100%;
   padding: 0 0 25px;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 3;
   background-color: $basecolor1-light;



   .label {
      position: absolute;
      z-index: 3;
      color: #D3D3D3 !important;
      top: 15px;
      left: 20px;
   }

   .SearchForm input:focus+.label,
   .SearchForm:not(:placeholder-shown)+.label {
      opacity: 0;
      visibility: hidden;
   }

   .SearchButton {
      position: absolute;
      right: 15px;
      top: 10px;
      width: 40px;
      height: 40px;
      z-index: 2;
      background-color: #82B4E8;
      @include border-radius(100px);
      color: $white;

      &:hover {
         background-color: $basecolor1;
      }
   }

   input {
      @include border-radius(100px);
      /* M3/Elevation Light/2 */
      box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
      background-color: $white;
      height: 55px;
      padding: 0 20px !important;
   }

   i {
      line-height: 2;
   }
}

.SearchBoxSection>div>div {
   position: relative;
   width: 100%;

   .label {
      position: absolute;
      z-index: 3;
      color: #D3D3D3 !important;
      top: 15px;
      left: 20px;
   }

   .SearchForm {
      input {
         background: #0B1729;
         border: 1px solid #F7F7F7;
         border-radius: 16px;
         height: 100px;
         color: #D3D3D3;
      }
   }

   .SearchButton {
      position: absolute;
      z-index: 1;
      right: 15px;
      bottom: 15px;
      width: 25px;
      height: 25px;
      background-color: $basecolor1;
      @include border-radius(100px);
      color: $black;
      font-size: $bfsize;

      &:hover {
         background-color: $basecolor1;
         color: $white;
      }
   }

   i {}

}

.SearchBoxSectionActive {
   
   .SearchBox {
      width: 100%;
      padding: 0 0 25px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      background-color: $basecolor1-light;
      width: 100%;
      >div {
         width: 60%;
      }
   }

}
@include for-mobile-large-screen {
   .SearchBoxSectionActive .SearchBox {
      .SearchButton {
         top: 8px;
      }
      
      >div {
         width: 100%;
         padding: 0 15px 30px;
      }
   }
}