@import "../../_variables.scss";

.countryDropdown {
   
  li {
    border-bottom: solid 1px #ddd;
    padding:  0 6px 8px;
    margin-bottom: 10px;
    font-size: 14px;
  }
   li {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      cursor: pointer;
   }
   .parent svg {
      margin-left: 0;
      margin-right: 8px;
      color: $basecolor-dark;
   }
   .child svg {
      margin-right: 8px;
      margin-left: 8px;
      color: $basecolor;
   }
}

.SearchBoxSectionHome {
   .SearchBoxContainer {
      position: relative;
      width: 100%;
      min-height: $ChatInputHeightMd;
      padding: 0px 12px 12px 32px;
      background: #0B1729;
      border: 1px solid #F7F7F7;
      @include border-radius(18px);
      display: flex;
      width: 100%;
      background: #0B1729;
      border: 1px solid rgba(246, 246, 246, 0.5);
      flex-direction: column;
      align-items: flex-start;
   }

   .travelForm {
      flex-direction: row;
      flex: 1;
      margin-top: 24px;

      .SearchBoxContainerLeft {
         row-gap: 16px;
         column-gap: 12px;
      }

   }

   .AllTabs {
      margin-bottom: 0;
      min-height: inherit;

      .Tab {
         margin-right: 1px;
         min-width: 53px !important;
         min-height: 18px !important;
         width: 53px;
         height: 18px;
         padding: 8px 12px;
         opacity: 1;
         transition: all 0.3s ease;
         align-items: center;
         padding: 5px 20px;
         gap: 10px;
         background: #142033;
         border-radius: 0px 0px 8px 8px;


      }

      .tabSelected {
         opacity: 1;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 5px 20px;
         background: $basecolor1;
         img {
            
         }

      }
   }

   /* Hide the default underline indicator */
   .noIndicator {
      display: none !important;
   }

}

// tavellers
.triggerButton {
   width: 150px;
   text-transform: none;
   font-size: 14px;
   padding: 8px 12px;
   justify-content: space-between;
}

.dropdownMenu {
   padding: 16px 16px 26px;
   width: 320px;
   .header {
    .counterValue {
         font-weight: $semibold;
      }  
   }
   .CounterIcon {width: 20px;}
   .Footer .RightCol {
      justify-content: center;
   }
   .RightCol {
      align-items: center;
      gap: 18px;
      width: 35%;
      justify-content: space-between;
   }
   .numberInput {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
   }
   
   .label {
      text-transform: capitalize;
   }
}


.sublabel {
   font-size: 12px;
   color: #888;
}

.counter {
   display: flex;
   align-items: center;
   gap: 8px;
}

.count {
   min-width: 20px;
   text-align: center;
}

// travellers

.bookingFormWrapper {
   display: flex;
   flex-direction: column;

   @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 26px;
   }

   gap: 12px;
   position: relative;
}

.SearchBoxContainer {
   width: 100%;
}

.formRow {
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   justify-content: center;
   align-items: center;

   @media (min-width: 768px) {
      gap: 26px;
   }
}

.formGroup {
   min-width: 100px;
   width: auto;
}

.Seperator {
   right: 44%;
   z-index: 2;
   top: 13px;
}

.SearchButton {
   width: 32px;
   height: 32px;
   background: $btn-gradient-basecolor1;
   @include border-radius(100px);
   color: $white !important;
   font-size: $bfsize;

   i {
      margin-top: 1px;
   }
}

body {
   .isHomeForm {
      .formControl {
         min-height: 35px;
         border-radius: 12px !important;
         color: #C8C8C9 !important;
         margin-bottom: 0;
         
         >div {
            min-height: 35px !important;
            font-size: 13px !important;
            fieldset {
               border: solid 1px #384659;
               border-color: #384659 !important;
            }
   
            color: #C8C8C9 !important;
            height: 35px;
            background: #101724;
            border: 1px solid #384659;
            border-radius: 8px;
         }
         &:hover fieldset {
            border-color: #384659 !important;
         }
         /* Remove hover border effect on all MUI outlined inputs */
         >div:hover div {
            border-color: transparent !important;
            /* removes hover border */
         }
   
         input::placeholder {
            color: #C8C8C9 !important;
            opacity: 1 !important; // removes the faded look
         }
   
         &.dates img {
            margin-right: 8px;
            width: 18px;
            height: 18px;
            cursor: pointer;
         }
         &.dates,
         &.travellers {
            >div {
               width: 220px;
            }
         }
   
         &.from,
         &.to {
            >div {
               width: 220px;
            }
         }
         input {
            font-size: 13px;
         }
         &.TripClass,
         &.TripType {
            >div {
               width: 130px;
   
               >div {
                  padding-right: 10px !important;
                  font-size: 13px;
               }
            }
         }
         // hotel
         &.Hoteltravellers, &.where {
            >div {
               width: 220px;
            }
         }
         &.priceRange, &.roomType, &.checkOut, &.checkIn {
            > div {
               width: 175px;
            }
         }
   
         svg {
            right: 12px;
         }
   
   
         .MuiOutlinedInput-root {
            border-radius: 12px;
         }
   
         label {
            color: $basecolor-dark !important;
         }
   
         label.Mui-focused {
            color: #C8C8C9;
         }
      }
   }
}

.swapIcon {
   border: 1px solid #ccc;
   border-radius: 50%;
   width: 36px;
   height: 36px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.searchButtonBox {
   width: 100%;
   display: flex;
   justify-content: flex-end;

   @media (min-width: 600px) {
      justify-content: flex-start;
   }
}


@include for-mobile-large-screen () {
   /* Limit the field width to 90px */
   
   
   .dropdownMenu {
      width: 100%;
      padding: 16px 0 26px;
      .RightCol {
         width: 25%;
      }
      .CounterIcon {width: 30px;
      img {width: 100%;}}
      .header {
         display: none;
      }
      .Passrow {
         border-bottom: solid 1px $lightgray2;
         padding: 15px 0;
         
      }
      
   }
   .SearchButton.isDrawer {
      width: 60px;
      height: 60px;
      font-size: 20px;
   
   }
   .TravelFormHeader {
      height: 45px;
      border-bottom: solid 1px #ddd;
      margin-bottom: 20px;
   }
   body {
      .formGroup.DOBField {
         .formControl {
            display: block;
            width: 90px;
            >div {
               color: $darkgray !important;
               height: 35px;
               background: $white;
               border: none;
               border-radius: none;
               fieldset {
                  border: none;
               }
            }
         }  
      }
      .formGroup.fromAndtoField {
         &.step2 .formGroupIn {
            width: 50px;
         }
         .formGroupIn {
            display: block;
            width: 100%;
            .formControl {
               >div {
                  color: $darkgray !important;
                  height: 35px;
                  background: $white;
                  border: none;
                  border-radius: none;
                  fieldset {
                     border: none;
                  }
               }
            }
         }  
      }
   }
   
   .TravelFormDrawer {
      .formGroup .formControl.from {
         height: 40px;
         font-size: 0.9rem;
      
         input {
            padding: 6px 8px;
            text-overflow: ellipsis;
         }
      }
   
      /* Full-screen dropdown */
      .countryDropdown {
      max-height: 300px;
      overflow-y: auto;
      width: 100% !important; // ✅ Full width of screen
      left: 0 !important; // Align to screen left
      position: fixed !important;
      top: 100px !important; // adjust based on your header
      background: #fff;
      z-index: 9999;
      border-radius: 0;
      }
   }

   .countryDropdown {
      li {
         p {font-size: 10px;}
         svg {width: 10px;}
      }
   }
   
   
   .formGroup {
      width: auto;
      flex: 1;
      min-width: 100%;
      &.isDrawerField {
         .formControl {
            > div {
               height: 40px !important;
            }

         }
      }
      .formControl {
         width: 100% !important;
         min-height: 30px !important;
         margin-bottom: 0;
         &.dates img {
            margin-right: 4px;
         }
         > div {
            min-height:30px !important;
            height: 30px !important;
           width: 100% !important;
           font-size: 12px !important;
        }
      }
   }
   .bookingFormWrapper {
      gap: 0;
      align-items: flex-end;
   }
      
   .SearchBoxSectionHome .SearchBoxContainer {
      flex-direction: column;
      justify-content: center;
      padding: 0 40px 10px 40px;
      min-height: $ChatInputHeightXs;
      .travelForm {
         flex-direction: column;
         flex: 1;
         margin-top: 25px;
         gap: 20px;
         align-items: flex-end;
         justify-content: space-between;
         width: 100%;
         .Left {width: 100%;}
         .SearchBoxContainerLeft {
            row-gap: 10px;
            column-gap: 13px;
         }
      }
   }

   .Seperator {
      right: 45.5%;
      top: 13px;
   }
}